<div>
  <p>The Transport Data Hub Data Catalogue is an instance of CKAN, an open source data portal platform, and has been developed following <a href="https://www.w3.org/TR/WCAG22/" target="_blank">WCAG 2.2 (AA) accessibility guidelines</a>.</p>
  <p>The Web Content Accessibility Guidelines (WCAG) are a set of internationally recognised guidelines to ensure that web content is accessible. 
    WCAG provides a comprehensive and widely accepted framework for creating accessible websites and digital content.</p>

  <br><h2>Accessibility features</h2>
  <p class="govuk-body-m"></p>

  <h3>GOV.UK Design System (GDS)</h3>
  <p>The Data Catalogue was developed using the GOV.UK Design System, a comprehensive framework designed to create user-friendly, accessible, and consistent digital services. 
    By aligning with this widely recognised and government-endorsed design system, we ensure that our website follows best practices in usability and accessibility.</p>
  <p class="govuk-body-m">To learn more, visit the <a href="https://design-system.service.gov.uk/" target="_blank">GOV.UK Design System website</a>.</p>

  <h3>Alternative text</h3>
  <p class="govuk-body-m">We provide alternative text for images throughout our website. Alternative text, or "alt text," is descriptive text associated with images, ensuring that users with visual impairments or those using text-only browsers can understand the content and context of each image.</p>

  <h3>Colour contrast</h3>
  <p class="govuk-body-m">The colour scheme was developed with WCAG 2.2 (AA) requirements in mind. This helps improve the experience for people with vision disabilities.</p>

  <h3>Keyboard navigation</h3>
  <p class="govuk-body-m">We are committed to supporting keyboard navigation to ensure that all users, including those with motor disabilities, can navigate our website without relying on a mouse. 
    Our site is designed to be fully accessible via keyboard input, allowing users to tab through interactive elements and access all content seamlessly.</p>

  <h3>Links & landmarks</h3>
  <p class="govuk-body-m">The website incorporates accessible navigation features, including clear and descriptive link text. Links are designed to be easily distinguishable, providing meaningful information about the linked content. 
    Additionally, we utilise landmarks to enhance navigation, allowing users to efficiently move through and understand the structure of our web pages.</p>

  <h3>Screen readers</h3>
  <p class="govuk-body-m">To enhance the experience for users with visual impairments, our website is compatible with screen readers. Screen readers convert digital text into synthesised speech, providing auditory information about the content and structure of each page. 
    We have structured our website to be screen reader-friendly, enabling an inclusive browsing experience for all users.</p>

  <h3>Compatibility</h3>

  <h4>Browsers</h4>
  <p class="govuk-body-m">The Data Catalogue was developed to support multiple browsers, including Google Chrome, Firefox, and Microsoft Edge.</p>

  <h4>Devices</h4>
  <p class="govuk-body-m">The Data Catalogue supports devices with varying screen sizes, including mobile devices. This ensured that elements of the web page are scaled correctly and offer a consistent functional experience.</p>

  <h3>Testing</h3>
  <p class="govuk-body-m">A combination of manual and automated accessibility testing tools were used, including:</p>

  <h4>Manual tests</h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>Browser inspection tools (DevTools)</li>
    <li>Keyboard navigation</li>
    <li>Non-visual navigation with a screen reader (NVDA)</li>
  </ul>

  <h4>Automated tests</h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>Lighthouse</li>
    <li>WAVE</li>
    <li>WCAG Accessible Web helper</li>
  </ul>

  <br><h2>Review and update policy</h2>
  <p class="govuk-body-m">We're committed to regularly reviewing and updating the accessibility statement as the Data Catalogue evolves.</p>
  
  <h3>Known issues</h2>
  <p class="govuk-body-m">Unfortunately, the Data Explorer preview feature for dataset resources does not currently conform to WCAG 2.2 guidelines. 

  <h3>Third-party content</h3>
  <p class="govuk-body-m">The TDH uses Cookie Control and Google Analytics third-party services. We may not have control over the accessibility of those elements.</p>

  <br><h2>Feedback</h2>
  <p>Feedback is essential in aiding the improvement of the system and services we provide.</p>
  <p>Get in touch with any queries or concerns by emailing <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>, or visit our <a href="/about" target="_blank">{{ _('support page') }}</a> for more information.</p>
</div>
