{% ckan_extends %}

{% block heading_private %}
  {% if package.private %}
    <span class="dataset-private badge dataset-marking">
      <i class="fa fa-lock"></i>
      {{ _('Private') }}
    </span>
  {% endif %}
  {% if package.availability == 'upcoming' %}
    <span class="dataset-upcoming badge dataset-marking">
      <i class="fa fa-hourglass-half"></i>
      {{ _('Coming Soon') }}
    </span>
  {% endif %}
{% endblock %}

{% block heading_title %}
  <a class="govuk-link" href="{{ h.url_for('%s.read' % package.type, id=package.name) }}" title="{{ title }}" data-cy="dataset-title">
    {{ title|truncate(80) }}
  </a>
{% endblock%}

{% block notes %}
  <div class="dataset-metadata">
    <p data-cy="dataset-published"><b>{{ _('Published by:') }}</b> {{ package.organization.title }}</p>
    <p data-cy="dataset-updated"><b>{{ _('Last Updated:') }}</b> {{ h.filter_datetime(package.metadata_modified, 'short') }}</p>
  </div>
  <div data-cy="dataset-notes">
    {% if notes %}
      {{ (h.extract_markdown_description(package.notes) or h.strip_markdown(package.notes)) | truncate(170) }}
    {% else %}
      {{ _('There is currently no description for this dataset.') }}
    {% endif %}
  </div>
{% endblock %}
