<div>
    <p>When we provide services, we want to make them easy, useful and reliable. Where services are delivered on the
        internet, this sometimes involves placing small amounts of information on your device, for example, computer
        or mobile phone. These include small files known as cookies. They cannot be used to identify you personally.
    </p>
    <p>These pieces of information are used to improve services for you through, for example:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>enabling a service to recognise your device, so you don't have to give the same information several times
            during one task
        </li>
        <li>recognising that you may already have given a username and password, so you don't need to do it for every
            web page requested
        </li>
        <li>measuring how many people are using services, so they can be made easier to use and there's enough capacity
            to ensure they are fast
        </li>
        <li>recognising which people are visiting our web pages through social media sites, to make it possible to use
            targeted advertising
        </li>
    </ul>
    <p>You can manage these small files yourself. You can learn more about them on <a
            href="https://www.aboutcookies.org/" target="_blank">About Cookies</a>.</p>

    <h2>Cookies that are set</h2>

    <h3>Essential cookies</h3>

    <p>The Transport Data Hub Data Catalogue uses a number of cookies that are essential for the web site to function.
        Some of these are session cookies that last only as long as a user is using the site, others are used for
        storing the cookie settings choices made.</p>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Cookie Name</th>
                <th scope="col" class="govuk-table__header">Duration</th>
                <th scope="col" class="govuk-table__header">Purpose</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">AppServiceAuthSession</td>
                <td class="govuk-table__cell">Session</td>
                <td class="govuk-table__cell">Used for tracking a users current authentication session for the site.
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">ckan</td>
                <td class="govuk-table__cell">Session</td>
                <td class="govuk-table__cell">Used for tracking a users current session with the site. For example, used
                    for maintaining log in status and for tracking progress through forms.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">CookieControl</td>
              <td class="govuk-table__cell">90 Days</td>
              <td class="govuk-table__cell">Used to remember a users choice about cookies on the site. Where a user has previously indicated a preference,
                that users preference will be stored in this cookie.</td>
            </tr>
        </tbody>
    </table>

    <h3>Settings cookies</h3>
    <p>The Transport Data Hub Data Catalogue does not store any cookies related to storing any of your settings.</p>

    <h3>Usage cookies</h3>
    <p>The Transport Data Hub Data Catalogue does not monitor your usage and stores no cookies related to your usage.
    </p>

    <h2 id="how-to-control-and-delete-cookies">How to control and delete cookies</h2>
    <p>We will not use cookies to collect personally identifiable information about you.</p>
    <p>However, if you wish to restrict or block the cookies which are set by our website you can do this by rejecting
        non-essential cookies. The cookie settings selected may be changed at any time by selecting the Cookie Settings
        option in the footer of every page.</p>
    <p>Alternatively you may wish to visit <a href="https://www.aboutcookies.org/" target="_blank">About Cookies</a>
        which contains comprehensive information on how to do this on a wide variety of browsers. You will also find
        details on how to delete cookies from your machine as well as more general information about cookies.</p>
    <p>Please be aware that restricting cookies may impact on the functionality of our website.</p>

</div>
