{#
  Creates search input form

  label - The search input label
  placeholder - The search input placeholder text
  query - The search query
  advanced - Show advanced search option

  Example: {% snippet "snippets/search_form.html", query=q, placeholder="Search topics..." %} 
#}

{% set placeholder = placeholder if placeholder else _('Search Transport Data Hub...') %}

{% block search_form %}
  {% if label %}
    <label class="govuk-label" for="keywords" title="Title, description, tags, topics, publishers, format, license...">{{ label }}</label>
  {% endif %}
  <div class="search-wrapper">
    <input class="search-input" {% if advanced %}style="border: 2px solid white;"{% endif %} id="keywords" type="text" placeholder="{{ placeholder }}" name="q" value="{{ query }}" aria-label="search-input" data-cy="search-input">           
    <button class="search-submit" {% if advanced %}style="border: 2px solid white;"{% endif %} type="submit" title="search-button" data-cy="search-button"><i class="fa fa-search"></i></button>
    {% if advanced %}
      <a class="search-advanced" href="/dataset">{{ _('Advanced search') }}</a>
    {% endif %}
  </div>
{% endblock %}    
