<div>
  <h2>What is it?</h2>
  <P>The Partner Connect file allows you to connect Microsoft Power BI to the Transport Data Hub.</P>
  <p>When you connect to the TDH from Power BI, you are using a connection to Databricks that provides access to the data. This brings the advantages of Databricks performance and technology to data scientists, data engineers and to all other business users.</p>
  <P>There is one Partner Connect file that can be used to access all datasets published on the TDH.</P>

  <h2>How it works</h2>
  <p>Download and run the TDH Partner Connect file found below. It will automatically open Power BI and connect you to the TDH via Databricks.</p>
</div>
