{% ckan_extends %}

{% block user_about %}
    {% if user.about %}
        {{ user.about }}
    {% else %}
        <p class="empty">
        {% if is_myself %}
            {% trans %}You have not provided a biography.{% endtrans %}
        {% else %}
            {% trans %}This user has no biography.{% endtrans %}
        {% endif %}
        </p>
    {% endif %}
{% endblock %}

{% block user_nums %}
    <div class="nums">
    <dl>
        <dt>{{ h.humanize_entity_type('package', dataset_type, 'facet label') or _('Datasets') }}</dt>
        <dd>{{ h.SI_number_span(user.number_created_packages) }}</dd>
    </dl>
    <dl>
        <dt>{{ _('Publishers') }}</dt>
        <dd>{{ orgs_available | count }}</dd>
    </dl>
    <dl>
        <dt>{{ _('Topics') }}</dt>
        <dd>{{ groups_available | count }}</dd>
    </dl>
    </div>
{% endblock %}

{% block user_info %}
  {{ super() }}
  {% if h.check_access('user_update', user) %}
    {% link_for _('Profile settings'), named_route='user.edit', id=user.name, class_='btn btn-default', icon='cog' %}
  {% endif %}
{% endblock %}
