{% import 'macros/form.html' as form %}

<div class="auth-providers">
  <div class="ms-signin">
    <p class="govuk-body">Click here to log in using your Microsoft account</p>
    <a href="/.auth/login/aad">
      <img src="/assets/images/ms-signin-light.png" alt="Sign in with Microsoft"
          title="Sign in with Microsoft" />
    </a>
  </div>
</div>

{% if external_only == 'False' %}
    {% set username_error = true if error_summary %}
    {% set password_error = true if error_summary %}

    <div class="def-signin">
      <p class="govuk-body">Or log in using CKAN credentials:</p>
      <form action="{{ action }}" method="post">
        {{ h.csrf_input() }}
        {{ form.errors(errors=error_summary) }}

        {{ form.input('login', label=_("Username or Email"), id='field-login', value="", error=username_error, classes=["control-medium"]) }}

        {{ form.input('password', label=_("Password"), id='field-password', type="password", value="", error=password_error, classes=["control-medium"]) }}

        {{ form.checkbox('remember', label=_("Remember me"), id='field-remember', checked=true, value="63072000") }}

        <div class="form-actions">
          {% block login_button %}
            <button class="btn btn-primary" type="submit">{{ _('Login') }}</button>
          {% endblock %}
        </div>
      </form>
    </div>
{% endif %}