{% extends "page.html" %}

{% block subtitle %}{{ _('FAQ') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">
    <a href="{{ h.url_for('weca_tdh.support') }}">{{ _('Support') }}</a>
  </li>
  <li class="active">
    <a href="{{ h.url_for('weca_tdh.support_pages', path='faq') }}">{{ _('FAQ') }}</a>
  </li>
{% endblock %}

{% block primary %}
  <article class="module govuk-body" role="main">
      {% block statement %}
        <h1 class="page-heading">{{ _('Frequently asked questions') }}</h1>
        {% snippet 'support/snippets/faq_text.html' %}
      {% endblock %}
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
