{% extends "page.html" %}

{% block subtitle %}{{ _('Cookie Policy') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">
    <a href="{{ h.url_for('weca_tdh.support_pages', path='policy') }}">{{ _('Cookie Policy') }}</a>
  </li>
{% endblock %}

{% block primary %}
  <article class="module govuk-body" role="main">
    {% block policy %}
      <h1 class="page-heading">{{ _('Cookie Policy') }}</h1>
      {% snippet 'snippets/policy_text.html' %}
    {% endblock %}
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
