<div>
  <h2>Request access, raise an issue, or make a general request</h2>
  <p>For all service requests for the TDH please use the Combined Authority service management system ServiceNow. Submit a General Service Request found under User Applications and note in the description that the request is related to the Transport Data Hub.</p>
  <p>ServiceNow for the Combined Authority can be <a href="https://agilisys.service-now.com/ag?id=login" title="Link to ServiceNow" target="_blank">{{ _('accessed here') }}</a>.</p>

  <h2>Connect to the TDH</h2>
  <p class="govuk-body-m"><a href="{{ h.url_for('weca_tdh.tdh_partner_connect') }}" target="_blank">{{ _('Learn how to connect to the TDH using Power BI.') }}</a></p>

  <h2>{{ _('About Transport Data Hub') }}</h2>
  <p>One of the key published goals of the Future Transport Zone initiative is to "Enable better public transport planning by using data to improve decision-making".</p>
  <p>TDH aims to deliver a region-wide data platform to improve transport planning and operation, improve collaboration between Unitary Authorities (UAs) in the region, and support innovation.</p>

  <p class="govuk-body-m">West of England Combined Authority: <a href="https://www.westofengland-ca.gov.uk/" target="_blank">https://www.westofengland-ca.gov.uk/</a><br/>
  FTZ: <a href="https://www.westofengland-ca.gov.uk/what-we-do/transport/future-transport-zone" target="_blank">https://www.westofengland-ca.gov.uk/what-we-do/transport/future-transport-zone</a></p>

  <h2>Accessibility</h2>
  <p class="govuk-body-m">{{ _('For information regarding accessibility and our commitment to developing an inclusive website, see our ') }}<a href="/accessibility" target="_blank">{{ _('Accessibility Statement') }}</a>.</p>

  <h2>Cookie Policy</h2>
  <p class="govuk-body-m">{{ _('For information regarding cookies and how we use them, see our ') }}<a href="/policy" target="_blank">{{ _('Cookie Policy page') }}</a>.</p>

  <h2>Contact information</h2>
  <p class="govuk-body-m">{{ _('Get in touch about the Transport Data Hub by phoning the Service Desk phone number') }} {{ contact_phone_number }}.</p>

  <br><p class="govuk-body-xs"><i>{{ _('Build version:') }} {{ build_version }}</i></p>

</div>
