{% trans %}
The Transport Data Hub (TDH) is a digital platform for searching, sharing, and analysing transport data for users in the Mayoral Combined Authority, unitary authorities, academia and more. 
It ingests big datasets, supports automation and API integrations, and enables analysis and reporting through Power BI. 
The TDH aims to optimise transport operations and services, encourage collaboration, and help users make better decisions, evaluate interventions, and plan initiatives, supporting the West of England Mayor's wider goal to improve public transport and the place we live.
{% endtrans %}