{% from "components/button/macro.html" import govukButton %}

<div class="about-overlay-action">
    {% if userobj %}
        <p><b>{{ _('Got an idea?') }}</b></p>
        {{ govukButton({
        'id': "ga-submit-idea",
        'text': "Submit idea",
        'href': "https://forms.office.com/e/6rj0EMtHLN",
        'classes': 'action-button',
        'attributes': {'target': '_blank', 'data-cy': 'submit-us-button'}
        }) }}
    {% else %}
        <p><b>{{ _('Get Started') }}</b></p>
        {{ govukButton({
        'text': "Log in",
        'href': "/.auth/login/aad?post_login_redirect_url=/user/adlogin?referrer=" + request.path,
        'classes': 'action-button',
        'attributes': {'data-cy': 'login-button'}
        }) }}
        {{ govukButton({
        'id': "ga-request-access-account",
        'text': "Request account",
        'href': "https://forms.office.com/e/F00dpVFRQx",
        'classes': 'action-button govuk-button--secondary',
        'attributes': {'target': '_blank', 'data-cy': 'request-button'}
        }) }}
    {% endif %}
    <p style="font-size: 16px;">{{ _('Having issues? Visit our') }} <a style="color: white; text-decoration: underline;" href="/pages/support" data-cy="support-details">{{ _('support page') }}</a></p>
</div>