{% trans %}
<p>One of the key published goals of the Future Transport Zone initiative is to "Enable better public transport planning by using data to improve decision-making".</p>
<p>TDH aims to deliver a region-wide data platform to improve transport planning and operation, improve collaboration between Unitary Authorities (UAs) in the region, and support innovation.</p>

<p>WECA: <a href="https://www.westofengland-ca.gov.uk/">https://www.westofengland-ca.gov.uk/</a><br />
FTZ: <a href="https://www.westofengland-ca.gov.uk/what-we-do/transport/future-transport-zone">https://www.westofengland-ca.gov.uk/what-we-do/transport/future-transport-zone</a></p>
{% endtrans %}
