{% macro render(res, tdh_schema) %}
  {% set data_access_info = {
    'File Download': {
      'title': "Direct Download",
      'icon': 'fa-solid fa-download',
      'description': 'This resource is available to download directly from the TDH.'
    },
    'Power BI Report': {
      'title': 'Power BI Report',
      'img': "/assets/images/branding/pbi-logo.svg",
      'description': 'A Power BI Report is available for this resource. To view the report, click the Go to resource button above.'
    },
    'TDH Query': {
      'title': "Connect with Power BI",
      'img': "/assets/images/branding/pbi-logo.svg",
      'description': "This resource is available to query using Power BI. <a href='/pages/tdh_partner_connect' aria-label='Data access'>
        <i class='fa fa-info-circle info-icon' title='Learn how to connect to the Transport Data Hub.' aria-hidden='true'></i></a>"
    },
    'External Link': {
      'title': 'Signposted Data',
      'icon': 'fa-solid fa-arrow-up-right-from-square',
      'description': 'This resource is available through an external link. To view, click the Go to resource button above.'
    },
    'Preview': {
      'title': 'Preview',
      'icon': 'fa-solid fa-chart-simple',
      'description': 'This resource is available to preview using the sample data below.'
    }
  } %}

  {% set access = data_access_info.get(res.resource_data_access) %}
  {% if not access %}
    <p>{{ _('A data access type has not been assigned to this resource.') }}</p>
  {% else %}
    <div class="data-access-summary">
      {% if res.resource_data_access == "File Download" %}
        <a id="ga-file-download-db" class="btn btn-primary resource-data-action"
          {% if h.user_has_valid_db_token() %}
            onclick="return start_download('{{ res.id }}');"
          {% else %}
            href="{{ h.url_for('databricks.authenticate', resource_id=res.id) }}?referrer={{ request.path }}&autodownload={{ res.id }}"
          {% endif %}>
          <i class="fa fa-arrow-circle-down"></i> {{ _('Download File') }}
          <div id="download-spinner" class="download-spinner"></div>
        </a>
      {% elif res.resource_data_access == "TDH Query" %}
        <a id="ga-tdh-connect" 
           class="btn btn-primary resource-data-action" 
           href="{{ h.url_for('action.tdh_partner_connect_file') }}?tdh_catalog={{ res.tdh_catalog }}&tdh_schema={{ tdh_schema }}" 
           download="TDH-{{ res.name | replace(' ', '_') }}.pbids">
            <i class="fa fa-arrow-circle-down"></i> {{ _('Partner Connect File') }}
        </a>
      {% endif %}

      <h2>
        {{ access.title }}
        {% if access.img %}
          <span class="data-access-img" aria-hidden="true">
            <img src="{{ access.img }}" alt="{{ access.title }}" width="30" height="30"/>
          </span>
        {% elif access.icon %}
          <span class="data-access-icon" aria-hidden="true">
            <i class="{{ access.icon }}"></i>
          </span>
        {% endif %}
      </h2>

      <p>{{ access.description | safe }}</p>

      {% if res.resource_data_access == "TDH Query" %}
        {% if res.tdh_catalog and tdh_schema and res.tdh_table %}
          <div class="tdh-query-block">
            <label for="tdh-query-path">{{ _('TDH Query Path') }}</label>
            <div class="tdh-query-path">
              <code id="tdh-query-path">{{ res.tdh_catalog }}.{{ tdh_schema }}.{{ res.tdh_table }}</code>
              <button onclick="copyQueryPath()" aria-label="Copy query path">
                <i id="tdh-query-path-icon" class="fa-regular fa-copy" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          {% set queries = h.load_json(res.resource_queries) %}
          {% if queries %}
            <p class="content-seperator" style="margin-top: 1rem;"></p>
            <div class="tdh-query-block">
              <h2>{{ _('Data download') }}
                <span class="data-access-icon" aria-hidden="true">
                  <i class="fa fa-arrow-circle-down"></i>
                </span>
              </h2>
              <p>{{ _('Download data directly using the queries below:') }}</p>
            </div>
            <div class="tdh-query-block">
              {% for query in queries %}
                {% set loop_index = loop.index0 %}
                {% set query_id = "tdh-query-" ~ loop_index %}
                {% set query_spinner_id = "query-spinner-" ~ loop_index %}

                <div class="{% if not loop.first %}tdh-query-block{% endif %}">
                  <div class="accordion" id="queryAccordion">
                    <div id="{{query_id}}" class="accordion-item">
                      <h2 class="accordion-header" id="heading-{{loop_index}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{loop_index}}">
                          {{ query.title }}
                        </button>
                      </h2>
                      <div id="collapse-{{loop_index}}" class="accordion-collapse collapse" data-bs-parent="#queryAccordion">
                        <div class="accordion-body">
                          <a role="button" id="ga-res-query-db-{{query_id}}" class="btn btn-primary dropdown-toggle resource-data-action" 
                            data-bs-toggle="dropdown" aria-expanded="false" aria-label="list of downloadable formats">         
                            <span class="caret">
                              <i class="fa fa-arrow-circle-down" style="margin-right:5px;"></i>
                              {{ _('Download') }}
                            </span>
                            <div id="{{query_spinner_id}}" class="download-spinner"></div>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="ga-res-query-db-{{ query_id }}">
                            <li class="dropdown-header">
                              <i class="fa fa-arrow-circle-down"></i> {{ _('Choose format') }}
                            </li>
                            {% for format in query.formats %}
                              <li style="cursor:pointer;">
                                <a class="dropdown-item"
                                  {% if h.user_has_valid_db_token() %}
                                    onclick="return start_query_download('{{ res.id }}', '{{ loop_index }}', '{{ format | lower }}');"
                                  {% else %}
                                    {% set args = loop_index ~ '_' ~ format | lower %}
                                    href="{{ h.url_for('databricks.authenticate', resource_id=res.id) }}?referrer={{ request.path }}&autodownload={{ args }}"
                                  {% endif %}>
                                  {{ format | upper }}    
                                </a>
                              </li>
                            {% else %}
                              <li class="dropdown-item disabled text-muted">{{ _('No formats available') }}</li>
                            {% endfor %}
                          </ul>
                          <p>{{ query.summary }}</p>
                          <p>{{ "Available formats: " ~ query.formats | join(', ') | upper }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <p class="content-seperator" style="margin-top: 1rem;"></p>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}
