{% ckan_extends %}

{% set external_only = config['feature_flag.auth.external_only'] %}

{% block toolbar %}{% endblock %}

{% block heading %}
  <h1 class="page-heading-result govuk-heading-xl govuk-!-margin-bottom-6">{{ _('Login') }}</h1>
{% endblock %}

{% block primary_content %}
<section class="module">
  {% block form %}
      {% snippet "user/snippets/login_form.html", external_only=external_only, error_summary=error_summary %}
  {% endblock %}
</section>
{% endblock %}

{% block secondary %}
  {% if external_only == 'True' %}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock %}
