{% ckan_extends %}

{% set external_only = config['feature_flag.auth.external_only'] %}

{% block primary_content %}
<section class="module">
  <div class="module-content">
    <h1 class="page-heading">{% block page_heading %}{{ _('Login') }}{% endblock %}</h1>
    {% block form %}
        {% snippet "user/snippets/login_form.html", external_only=external_only, error_summary=error_summary %}
    {% endblock %}
  </div>
</section>
{% endblock %}

{% block secondary %}
  {% if external_only == 'True' %}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock %}