<div>
    <h2>{{ _('What is the Transport Data Hub?') }}</h2>
    <p class="govuk-body-m">{{ _('The Transport Data Hub (TDH) is a digital platform that will make it possible for the transport community to find, share and analyse data with ease. 
        The TDH enables data-driven decisions to be made by including a range of data sources to be able to analyse and combine datasets. 
        The data included in the TDH can be accessed using Power BI to generate dashboards with exciting insights into the data. 
        Users will be able to create interactive data visualisations to present to colleagues and stakeholders. The TDH is part of the Future Transport Zone (FTZ) programme.') }}
    </p>

    <h2>{{ _('How can the TDH help me? ') }}</h2>
    <p class="govuk-body-m">{{ _('The aim of the TDH is to make it easier to search and find transport-related data on a centralised platform, and to be able to easily analyse the data to create professional reports to present. 
        The TDH can help provide the tools for data analysis through Power BI, where the data can be accessed, cleaned and analysed to create the dashboards. 
        The TDH will provide online resources and tutorials to help build your data skills and learn more about all things data. 
        The data catalogue can be used to search for data easily and find where to access this data.') }}
    </p>

    <h2>{{ _('What is the Data Catalogue?') }}</h2>
    <p class="govuk-body-m">{{ _('The data catalogue is part of the TDH and is used to centralise public transport-related data for users to easily search and access this data. 
        The user can go onto the data catalogue webpage and search for data to find where they can access it. 
        Each dataset included in the TDH is given a description, alongside where to find the data, what type of data it is and who to contact about the data.') }}
    </p>

    <h2>{{ _('How do I access the Data Catalogue?') }}</h2>
    <p class="govuk-body-m">{{ _('You can access the Data Catalogue by logging in with an existing account or requesting an account by filling in this form.') }}</p>

    <h2>{{ _('What is a user story?') }}</h2>
    <p class="govuk-body-m">{{ _('A user story is a way of capturing a data-related task that you want to complete along with the outcome. 
        It is an explanation of the TDH written from the perspective of the end-user, to identify how the TDH will benefit that end-user and what their desired outcomes from using the TDH are.') }}
    </p>

    <h2>{{ _('How can I add a user story?') }}</h2>
    <p class="govuk-body-m">{{ _('To add a user story to the TDH, submit them here and the team will review them for future development.') }}</p>

    <h2>{{ _('How do I get help with the TDH?') }}</h2>
    <p class="govuk-body-m">{{ _('You can get help with the TDH by visiting the') }} <a href="{{ h.url_for('weca_tdh.support') }}" target="_blank">{{ _('support page') }}</a> {{ _('or emailing us on transportdatahub@westofengland-ca.gov.uk.') }}</p>
</div>