<div> 
    <h2>{{ _('What is the Transport Data Hub?') }}</h2> 
    <p class="govuk-body-m">{{ _('The Transport Data Hub (TDH) is a digital platform designed to help the transport community find, share, and analyse data with ease. 
        By bringing together a variety of datasets, the TDH enables data-driven decision-making and allows users to combine and analyse information effectively. 
        The platform integrates seamlessly with Power BI, making it easy to generate insightful dashboards and create interactive visualisations to share with colleagues and stakeholders. 
        As part of the Future Transport Zone (FTZ) program, the TDH is here to support innovation in transport data.') }} </p>

    <h2>{{ _('How can the TDH help me?') }}</h2>  
    <p class="govuk-body-m">{{ _('The TDH makes it simple to find transport-related data on a centralised platform and analyse it to create professional reports.  
        With access to Power BI tools, users can clean, process, and visualize data efficiently.  
        The TDH also offers online resources and tutorials to help you improve your data skills and explore data analytics.  
        The Data Catalogue is a key feature, allowing users to easily search for and locate relevant datasets.') }}  
    </p>  
    
    <h2>{{ _('What is the Data Catalogue?') }}</h2>  
    <p class="govuk-body-m">{{ _('The Data Catalogue is a central repository within the TDH that consolidates public transport-related datasets, making them easy to search and access.  
        Users can browse the Data Catalogue to find specific datasets, understand their contents, and learn where to access them.  
        Each dataset includes a description, data type, access details, and relevant contact information.') }}  
    </p>  
    
    <h2>{{ _('How do I access the Data Catalogue?') }}</h2>  
    <p class="govuk-body-m">{{ _('You can access the Data Catalogue by logging in with your existing account or requesting access by') }} 
        <a href="https://forms.office.com/e/GnirTe2sLs" target="_blank">{{ _('filling out this form') }}</a>.</p>  
    
    <h2>{{ _('What is a user story?') }}</h2>  
    <p class="govuk-body-m">{{ _('A user story is a way to describe a data-related task or goal from an end-user’s perspective.  
        It helps identify how the TDH can benefit users and what outcomes they hope to achieve by using the platform.') }}  
    </p>  
    
    <h2>{{ _('How can I add a user story?') }}</h2>  
    <p class="govuk-body-m">{{ _('You can contribute a new user story by') }} 
        <a href="{{ h.url_for('weca_tdh.support') }}" target="_blank">{{ _('submitting it here.') }}</a> 
        {{ _('Our team will review submissions to help shape future TDH developments.') }}</p>  
    
    <h2>{{ _('How do I get help with the TDH?') }}</h2>  
    <p class="govuk-body-m">{{ _('For assistance, visit our') }} 
        <a href="{{ h.url_for('weca_tdh.support') }}" target="_blank">{{ _('support page') }}</a>  
        {{ _('or email us at transportdatahub@westofengland-ca.gov.uk.') }} 
    </p>
</div>