<div>
  <h2>{{ _('Access the data - Connect to the TDH') }}</h2>
  <p class="govuk-body-m">{{ _('Want to query data in the TDH for your own analysis?') }} <a href="{{ h.url_for('weca_tdh.tdh_partner_connect') }}" target="_blank">{{ _('Learn how to connect to the TDH using Power BI.') }}</a></p>

  <h2>{{ _('Frequently Asked Questions') }}</h2>
  <p class="govuk-body-m">{{ _('Have an issue? See our') }} <a href="{{  h.url_for('weca_tdh.support_pages', path='faq') }}" target="_blank">{{ _('FAQ page') }}</a> {{ _('for answers to popular questions.') }}</p>

  <h2>{{ _('Request access') }}</h2>
  <p>{{ _('Please submit an access request form for either a new account or access to restricted data.') }}</p>
  <ul>
    <li><p><a href="https://forms.office.com/e/GnirTe2sLs" target="_blank">{{ _('Request an account') }}</a> {{ _('- apply for a new user account.') }}</p></li>
    <li><p><a href="https://forms.office.com/e/2qBSFay0aP" target="_blank">{{ _('Request dataset access') }}</a> {{ _('- gain access to resticted data.') }}</p></li>
  </ul>

  <h2>{{ _('Got another issue?') }}</h2>
  <p class="govuk-body-m"><a href="https://live.hornbill.com/nsc/internal/home/" title="Link to Hornbill" target="_blank">{{ _('Raise a ticket') }}</a> 
  {{ _('using the Combined Authority IT Helpdesk (Hornbill). Submit a General Service Request found under Applications & Software and reference the Transport Data Hub in the request.') }}</p>
  <p class="govuk-body-m">{{ _('If you are unable to use the Combined Authority intranet to access the IT Helpdesk, call') }} {{ contact_phone_number }} {{ _('and quote the Combined Authority and Transport Data Hub.') }}</p>

  <h2 id="data-access">{{ _('Data Access') }}</h2>
  <p class="govuk-body-m">{{ _("Data access types are used to indicate a method for accessing a dataset resource. All datasets are marked with one of the following data access types:") }}</p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">{{ _('Access type') }}</th>
        <th scope="col" class="govuk-table__header">{{ _('Description') }}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body govuk-body-s">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ _('External Link') }}</td>
        <td class="govuk-table__cell">{{ _('A link to an external dataset (signposted).') }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ _('File Download') }}</td>
        <td class="govuk-table__cell">{{ _('Available to download directly from the Data Catalogue.') }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ _('Power BI Report') }}</td>
        <td class="govuk-table__cell">{{ _('A link to an associated Power BI Report.') }}</td>
      </tr>       
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ _('Preview') }}</td>
        <td class="govuk-table__cell">{{ _('Sample data or data with a preview table.') }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ _('TDH Query') }}</td>
        <td class="govuk-table__cell">{{ _('Available to access and query directly from your desktop via Power BI, using the') }} 
          <a href="{{ h.url_for('weca_tdh.tdh_partner_connect') }}" target="_blank">{{ _('TDH Partner Connect File.') }}</a></td>
      </tr>
    </tbody>
  </table>

  <h2 id="data-catagories">{{ _('Data Categories') }}</h2>
  <p class="govuk-body-m">{{ _("Data categories are used to indicate a dataset's access classification, including the level of data sensitivity, breadth of access, and need for controls. 
    All dataset resources are marked with one of the following data categories:") }}</p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">{{ _('Data category') }}</th>
        <th scope="col" class="govuk-table__header">{{ _('Summary') }}</th>
        <th scope="col" class="govuk-table__header">{{ _('Description') }}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body govuk-body-s">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class="badge resource-data-category data-category-open">{{ _('Open') }}</span></td>
        <td class="govuk-table__cell">{{ _('Can be accessed by anyone (with access to the TDH).') }}</td>
        <td class="govuk-table__cell">{{ _("Data that is categorised as Open within the Transport Data Hub can be used in compliance with the terms of its licence. 
          Care is taken to provide data that is both accurate and of high quality. However, individual checks should be made before relying on the data.") }}
          <br><br>{{ _("For some datasets, in order to provide Open data, parts of the data have been removed or obfuscated. This is typically because the data contains information that could identify an individual or is commercially sensitive. 
          This is done to comply with the ") }}<a href="https://www.gov.uk/make-a-freedom-of-information-request" title="Link to FOI act" target="_blank">{{ _('Freedom of Information Act') }}</a> {{ _('and') }} <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/" title="Link to GDPR" target="_blank">{{ _('General Data Protection Regulation') }}</a>.</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class="badge resource-data-category data-category-cont">{{ _('Controlled') }}</span></td>
        <td class="govuk-table__cell">{{ _("Can be accessed by defined teams or persons.") }}</td>
        <td class="govuk-table__cell">{{ _("Data that is accessible only to privileged users who are either part of the data-owning organisation,
          or an external organisation that has a Data Collaboration Agreement.") }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class="badge resource-data-category data-category-contpi">{{ _('Controlled (Personal Info)') }}</span></td>
        <td class="govuk-table__cell">{{ _("Subject to GDPR; only accessible by specific teams or persons.") }}</td>
        <td class="govuk-table__cell">{{ _("Data that is subject to GDPR because it contains Personal Identifiable Information. 
          Access to the data is limited to specific users, and can be shared with partner organisations subject to a Data Collaboration Agreement.") }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><span class="badge resource-data-category data-category-con">{{ _('Confidential') }}</span></td>
        <td class="govuk-table__cell">{{ _("The TDH does not store Confidential datasets.") }}</td>
        <td class="govuk-table__cell">{{ _("Data in which disclosure would result in high impact to an individual or organisation. This includes Special Category data under GDPR due to the sensitivity of the data,
            and the number of conditions required to be met before it can be stored or processed.") }}</td>
      </tr>
    </tbody>
  </table>

  <h2 id="data-quality">{{ _('Data Quality') }}</h2>
  <p class="govuk-body-m">{{ _("Data quality categories are used to indicate a dataset's quality. Data quality refers to the 'usefulness' of data and its ability to be easily understood, processed and analysed by users. 
      Data quality is a key component of data governance and helps ensure that data is fit for purpose. All datasets are marked with one of the following data quality categories:") }}</p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">{{ _('Quality category') }}</th>
        <th scope="col" class="govuk-table__header">{{ _('Quality score') }}</th>
        <th scope="col" class="govuk-table__header">{{ _('Star rating') }}</th>
        <th scope="col" class="govuk-table__header">{{ _('Description') }}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body govuk-body-s">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ _('Excellent') }}</td>
        <td class="govuk-table__cell">{{ _('65 - 75') }}</td>
        <td class="govuk-table__cell">
          {% for i in range(3) %}
            <i class="fa-solid fa-star" style="color: goldenrod"></i>
          {% endfor %}
        </td>
        <td class="govuk-table__cell">{{ _('Measurement of data quality is excellent and exceeds the specific needs of the organisation for trusted decisions. 
          Opportunity for further leveraging data with enrichment and additional capabilities for the business.') }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ _('Good') }}</td>
        <td class="govuk-table__cell">{{ _('55 - 64') }}</td>
        <td class="govuk-table__cell">
          {% for i in range(2) %}
            <i class="fa-solid fa-star" style="color: goldenrod"></i>
          {% endfor %}
        </td>
        <td class="govuk-table__cell">{{ _('Measurement of data quality is strong and serves the specific needs of the organisation. 
          Opportunity to improve certain quality dimensions and increase value of data for trusted decision making.') }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ _('Moderate') }}</td>
        <td class="govuk-table__cell">{{ _('45 - 54') }}</td>
        <td class="govuk-table__cell">
          <i class="fa-solid fa-star" style="color: goldenrod"></i>
        </td>
        <td class="govuk-table__cell">{{ _("Measurement of data quality is adequate for servicing the majority of the organisation's needs, but issues and challenges are still present. 
          Opportunity to focus on eliminating common issues and improving most data quality dimensions for trusted decision making.") }}</td>
      </tr>       
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ _('Poor') }}</td>
        <td class="govuk-table__cell">{{ _('< 45') }}</td>
        <td class="govuk-table__cell">
          <i class="fa-regular fa-star" style="color: goldenrod"></i>
        </td>
        <td class="govuk-table__cell">{{ _('Measurement of data quality is inadequate to serve the specific needs of the organisation, with several challenges hindering trusted decision making. 
          Opportunity to focus on improving multiple dimensions of data quality to increase its value and establish trust in decision making.') }}</td>
      </tr>
    </tbody>
  </table>
 
  <h2>{{ _('Accessibility') }}</h2>
  <p class="govuk-body-m">{{ _('For information regarding accessibility and our commitment to developing an inclusive website, see our ') }}<a href="{{  h.url_for('weca_tdh.support_pages', path='accessibility') }}" target="_blank">{{ _('Accessibility Statement') }}</a>.</p>

  <h2>{{ _('Cookie Policy') }}</h2>
  <p class="govuk-body-m">{{ _('For information regarding cookies and how we use them, see our ') }}<a href="{{ h.url_for('weca_tdh.support_pages', path='policy') }}" target="_blank">{{ _('Cookie Policy') }}</a>.</p>

  <p class="govuk-body-xs"><i>{{ _('Build version:') }} {{ build_version }}</i></p>
</div>
