{% extends "page.html" %}

{% block subtitle %}{{ _('Support') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Support'), named_route='home.about' %}</li>
{% endblock %}

{% block primary %}
  <article class="module govuk-body" role="main">
    {% block about %}
      <h1 class="page-heading">{{ _('Support') }}</h1>
      {% set contact_email = config.get('tdh.contact_email') or _('ftz@westofengland-ca.gov.uk') %}
      {% set build_version = config.get('tdh.build_version') or _('local') %}
      {{ h.snippet('home/snippets/about_text.html', contact_email=contact_email, build_version=build_version) }}
    {% endblock %}
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
