{% if not c.userobj %}
  {% extends 'home/about.html' %}
{% else %}
  {% extends "page.html" %}

  {% from "components/button/macro.html" import govukButton %}

  {% block subtitle %}{{ _("Welcome") }}{% endblock %}
  {% block toolbar %}{% endblock %}
  {% block primary_class %}landing-page{% endblock %}

  {% block form_wrapper %}
    <form action="/dataset" method="get">
      {{ super() }}
    </form>
  {% endblock %}

  {% block primary_content %}
      {% block landing_page_about %} 
        <h1 class="landing-header" data-cy="landing-heading">{{ _('Welcome to the TDH Data Catalogue') }}</h1>
        <p data-cy="landing-desc">
          {% snippet 'home/snippets/landing_description.html' %}
        </p>
        <div class="landing-access">
          <div class="landing-access-content">
            <h2>{{ _('Want to access data in the TDH?') }}</h2>
            <p>{{ _('You can also connect directly from your desktop using Power BI via our Partner Connect File.') }}</p>
          </div>
          <div class="landing-overlay-action">
            <p><b>{{ _('Access data in the TDH') }}</b></p>
            {{ govukButton({
            'text': "Connect with Power BI",
            'href': "/tdh_partner_connect",
            'classes': 'action-button',
            'attributes': {'data-cy': 'connect-button'}
            }) }}
            <p style="font-size: 16px;">{{ _('Visit the') }} <a style="color: white; text-decoration: underline;" href="/support">{{ _('support page') }}</a> {{ _('for more details') }}</p>
          </div>
        </div>
      {% endblock %}

      {% block landing_page_search %}
        <span class="govuk-body-s govuk-!-font-weight-bold">{{ g.datasets | length }} {{ _('datasets found') }}</span>
        <div class="row search-main">
          {% block search_input %}
            {% snippet "snippets/search_form.html", query=q, advanced=True %}
          {% endblock %}
        </div>
      {% endblock %}

      {% block landing_page_topic_list %}
        <ul class="govuk-list topics_list" data-cy="topic-list">
          {% set topics = h.get_featured_groups(12) %}
          {% for topic in topics %}
          <li>
            <h2 class="govuk-heading-s topics_heading" data-cy="topic-heading">
              <a class="govuk-link" href="{{ h.url_for(topic.type ~ '.read', id=topic.name) }}" data-cy="topic-link">
                {{ topic.title }}<a>
            </h2>
            <p class="govuk-body" data-cy="topic-desc">{{ topic.description }}</p>
          </li>
          {% endfor %}
        </ul>
      {% endblock %}
  {% endblock %}
{% endif %}
