{% ckan_extends %}

{% block footer_nav %}
  <ul class="list-unstyled">
    {% block footer_links %}
        <li><a href="{{ h.url_for('home.about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
        <li><a href="{{ h.url_for('weca_tdh.accessibility') }}">{{ _('Accessibility') }}</a></li>
        <li><a href="{{ h.url_for('weca_tdh.policy') }}">{{ _('Cookie Policy') }}</a></li>
        <li><a href="javascript:CookieControl.open()">{{ _('Cookie Settings') }}</a></li>
        <li><a href="{{ h.url_for('home.about') }}">{{ _('Support') }}</a></li>
        <li><a href="https://www.westofengland-ca.gov.uk/" target="_blank">{{ _('West Of England Combined Authority website') }}</a></li>
    {% endblock %}
  </ul>
{% endblock %}

{% block footer_attribution %}
  <p class="attribution"><strong>{{ _('Powered by') }}</strong> 
    <a class="hide-text ckan-footer-logo" href="http://ckan.org">{{ _('CKAN') }}</a></p>
{% endblock %}

{% block footer_lang %}
{# Remove language selector #}
{% endblock %}
