{% extends "page.html" %}

{% block subtitle %}{{ _('TDH Partner Connect') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('TDH Partner Connect'), named_route='pages.show', page='tdh_partner_connect' %}</li>
{% endblock %}

{% block primary %}
  <article class="module govuk-body" role="main">
    {% block connector %}
      <h1 class="page-heading">{{ _('TDH Partner Connect file') }}</h1>
      {% snippet 'snippets/tdh_connect_text.html' %}

      <h3>{{ _('Download') }}</h3>
      <div id="download-link"> 
        <a id="ga-tdh-connect" href="{{ h.url_for('weca_tdh.tdh_partner_connect_file') }}" download="tdh-partner-connect.pbids">{{ _('TDH Partner Connect file') }}</a>
      </div>
    {% endblock %}
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
