{% ckan_extends %}

{% block subtitle %}{{ group_dict.display_name }} {{_(' - Publishers') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Publishers'), named_route=group_type+'.index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for organization.display_name|truncate(35), named_route=group_type+'.read', id=organization.name, title=organization.display_name %}</li>
    <li class="active">{% link_for _('Manage'), named_route=group_type+'.edit', id=organization.name %}</li>
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% snippet 'snippets/organization.html', organization=organization %}

  {% set facet_titles = {'organization': "Publishers", 'groups': "Topics", 'res_format': "Formats", "license_id": "Licenses"} %}
  <div class="filters">
    {% for facet in facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}, search_facets=search_facets) }}
    {% endfor %}
  </div>
{% endblock %}

{% block form %}
  {% if page.item_count %}
    <form method="POST" data-module="basic-form">
      {{ h.csrf_input() }}
      <table class="table table-bordered table-header table-hover table-bulk-edit table-edit-hover" data-module="table-selectable-rows">
        <col width="8">
        <col width="120">
        <thead>
          <tr>
            <th></th>
            <th class="table-actions">
              <div class="btn-group">
                <button name="bulk_action.public" value="public" class="btn btn-default" type="submit">
                  <i class="fa fa-eye"></i>
                  {{ _('Make public') }}
                </button>
                <button name="bulk_action.private" value="private" class="btn btn-default" type="submit">
                  <i class="fa fa-eye-slash"></i>
                  {{ _('Make private') }}
                </button>
              </div>
              <div class="btn-group">
                <button name="bulk_action.delete" value="delete" class="btn btn-danger" type="submit">
                  <i class="fa fa-times"></i>
                  {{ _('Delete') }}
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for package in packages %}
            {% set title = package.title or package.name %}
            {% set notes = h.markdown_extract(package.notes, extract_length=180) %}
            <tr>
              <td>
                <input type="checkbox" name="dataset_{{ package.id }}">
              </td>
              <td class="context">
                <a href="{% url_for package.type ~ '.edit', id=package.name %}" class="edit pull-right">
                  {{ _('Edit') }}
                </a>
                <h3 class="dataset-heading">
                  <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" title="{{ title }}">
                    {{ title|truncate(80) }}
                  </a>
                  {% if package.get('state', '').startswith('draft') %}
                    <span class="label label-info">{{ _('Draft') }}</span>
                  {% elif package.get('state', '').startswith('deleted') %}
                    <span class="label label-danger">{{ _('Deleted') }}</span>
                  {% endif %}
                  {% if package.private %}
                    <span class="label label-danger">{{ _('Restricted') }}</span>
                  {% endif %}
                </h3>
                {% if notes %}
                  <p>{{ notes|urlize|truncate(120) }}</p>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  {% else %}
    <p class="empty">{{ _('This Publisher has no datasets associated to it') }}</p>
  {% endif %}
{% endblock %}
