{% extends "page.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/select/macro.html" import govukSelect %}

{% block subtitle %}{{ _('Publishers') }}{% endblock %}
{% block toolbar %}{% endblock %}

{% block form_wrapper %}
  <form action="{{ action }}" method="get">
    {{ super() }}
  </form>
{% endblock %}

{% block heading %}
  <h1 class="page-heading-result govuk-heading-xl govuk-!-margin-bottom-6">{{ _('Publishers') }}</h1>
{% endblock %}

{% block secondary_content %}
  <div class="search-sidebar">
    <h2 class="search-sidebar-heading">{{ _('Filter results') }}</h2>
    {% block search_input %}
      {% snippet "snippets/search_form.html", placeholder="Search publishers...", query=q %}  
    {% endblock %}
    {% block search_filters %}
      {% set facet_fields = ["parent_org"] %}
      {% set search_facets_all = h.get_orgs_or_groups_extras_list(is_org=true) %}
      {% for field in facet_fields %}
        {% snippet 'organization/snippets/filter_items.html', name=field, search_facets=search_facets_all %}
      {% endfor %}
      {{ govukButton({
        'text': "Update results",
        'type': 'submit',
        'attributes': {'data-cy': 'filter-button'}
      }) }}
      <p class="govuk-body">
        <a class="govuk-link" href="{{ h.url_for('organization.index') }}" data-cy="filter-remove">{{ _('Remove filters') }}</a>
      </p>
    {% endblock %}
  </div>

  {% snippet "organization/snippets/organization_sidebar.html", group_type=group_type %} 
{% endblock %}

{% block primary_content %}
  {% block search_sort %}
    <div class="sort"> 
      {% snippet 'snippets/search_sort.html', sorting_selected=sort_by_selected %}
    </div>
  {% endblock %}
  
  {% block search_results %}
    {% set filter_items = [] %}
    {% set item_count = page.item_count %}

    {% if not request.args.parent_org %}
      {% set filter_items = page.items %}
    {% else %}
      {% for item in page.items %}
        {% if item.extras %}
          {% if item.extras[0].get('value') in request.args.getlist('parent_org') %}
            {{ filter_items.append(item) or "" }}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% set item_count = filter_items | length %}
    {% endif %}

    <span class="results_summary" data-cy="results-summary">
      <span class="govuk-body-m govuk-!-font-weight-bold">
        {% snippet 'snippets/search_result_text.html', query=q, sort_by_selected=sort_by_selected, count=item_count, type=group_type %}
      </span>
    </span>

    <div class="group-listclass">
      {% if page.items %}
        {% snippet "organization/snippets/organization_list.html", organizations=filter_items, all_fields=False %}
      {% else %}
        <p class="empty">
          {{ _('There are currently no publishers for this site') }}.
          {% if h.check_access('organization_create') %}
            {% link_for _('How about creating one?'), named_route=group_type+'.new' %}</a>
          {% endif %}
        </p>
      {% endif %}
    </div>

    {% if not item_count <= page.items_per_page %}
      {% block page_pagination %}
        {{ page.pager(q=q or '', sort=sort_by_selected or '') }}
      {% endblock %}
    {% endif %}
  {% endblock %}
{% endblock %}