{% extends "page.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/select/macro.html" import govukSelect %}

{% block subtitle %}{{ _('Publishers') }}{% endblock %}
{% block toolbar %}{% endblock %}

{% block form_wrapper %}
  <form action="{{ action }}" method="get">
    {{ super() }}
  </form>
{% endblock %}

{% block heading %}
  <h1 class="page-heading-result govuk-heading-xl govuk-!-margin-bottom-6">{{ _('Publishers') }}</h1>
{% endblock %}

{% block secondary_content %}
  <h2>{{ _('Filter by') }}</h2>
  {% block search_input %}
    {% snippet "snippets/search_form.html", label="Keywords", placeholder="Search publishers...", query=q %}  
  {% endblock %}

  <label class="govuk-label" for="parent_org">{{ _('Parent Organisation') }}</label>
  {% set filter_items = h.sort_custom_metadata(page.items, request.args.get('parent_org', "")) %}
  {{ govukSelect({
    'id': "parent_org",
    'name': "parent_org",
    'label': "",
    'items': filter_items | sort(attribute='value'),
    'attributes': {'data-cy': 'filter-parent_org'}
    }) 
  }}

  {{ govukButton({
    'text': "Update results",
    'attributes': {'data-cy': 'filter-button'}
  }) }}
  <p class="govuk-body">
    <a class="govuk-link" href="{{ h.url_for('organization.index') }}" data-cy="filter-remove">{{ _('Remove filters') }}</a>
  </p>

  {% snippet "organization/snippets/organization_sidebar.html", group_type=group_type %} 
{% endblock %}

{% block primary_content %}
  {% block search_sort %}
    <div class="sort"> 
      {% snippet 'snippets/search_sort.html', sorting_selected=sort_by_selected %}
    </div>
  {% endblock %}
  {% block search_results_count %}
    <span class="results_summary" data-cy="results-summary">
      <span class="govuk-body-m govuk-!-font-weight-bold">{% snippet 'snippets/search_result_text.html', query=q, sort_by_selected=sort_by_selected, count=page.item_count, type=group_type %}</span>
    </span>
  {% endblock %}

  {% block organizations_list %}
    <div class="group-listclass">
      {% if page.items %}
        {% if not request.args.parent_org %}
          {% snippet "organization/snippets/organization_list.html", organizations=page.items %}
        {% else %}
          {% set filter_items = [] %}
          {% for item in page.items %}
            {% if item.extras %}
              {% if item.extras[0].get('value') == request.args.parent_org %}
                {{ filter_items.append(item) or "" }}
              {% endif %}
            {% endif %}
          {% endfor %}
          {% snippet "organization/snippets/organization_list.html", organizations=filter_items, all_fields=False %}
        {% endif %}
      {% else %}
        <p class="empty">
          {{ _('There are currently no publishers for this site') }}.
          {% if h.check_access('organization_create') %}
            {% link_for _('How about creating one?'), named_route=group_type+'.new' %}</a>
          {% endif %}
        </p>
      {% endif %}
    </div>
  {% endblock %}

  {% block page_pagination %}
    {{ page.pager(q=q or '', sort=sort_by_selected or '') }}
  {% endblock %} 
{% endblock %}  
