{% ckan_extends %}

{% block subtitle %}{{ group_dict.display_name }} {{_(' - Publishers') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Publishers'), named_route=group_type+'.index' %}</li>
  <li class="active">{% link_for group_dict.display_name|truncate(35), named_route=group_type+'.read', id=group_dict.name %}</li>
{% endblock %}

{% block form_wrapper %}
  <form action="{{ action }}" method="get">
    {{ super() }}
  </form>
{% endblock %}

{% block primary_content_inner %}
  {% block search_results %}
    {% block search_input %}
      {% snippet 'snippets/search_form.html', query=q, placeholder="Search " ~ group_dict.title %}
    {% endblock %}

    {% block search_sort %}
      {% set sorting = [
        (_('Relevance'), 'score desc, metadata_modified desc'),
        (_('Name Ascending'), 'title_string asc'),
        (_('Name Descending'), 'title_string desc'),
        (_('Last Modified'), 'metadata_modified desc'),
        (_('Popular'), 'views_recent desc') if g.tracking_enabled else (False, False) ]
      %}
      <div class="sort"> 
        {{ h.snippet('snippets/search_sort.html', sort_options=sorting, sorting_selected=sort_by_selected) }}
      </div>
    {% endblock %}

    {% block search_results_count %}
      <span class="results_summary" data-cy="results-summary">
        <span class="govuk-body-m govuk-!-font-weight-bold">{% snippet 'snippets/search_result_text.html', query=q, sort_by_selected=sort_by_selected, count=page.item_count, type=dataset_type %}</span>
      </span>
    {% endblock %}

    {% block packages_list %}
      {% if page.items %}
        {{ h.snippet('snippets/package_list.html', packages=page.items, list_class='dataset-listclass govuk-body-s', item_class='dataset-itemclass') }}
      {% endif %}
    {% endblock %}

    {% block page_pagination %}
      {{ page.pager(q=q) }}
    {% endblock %}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {# remove follow section #}
  {% snippet 'snippets/organization.html', organization=group_dict, show_nums=false, group_type=group_type %}
  {% set facet_titles = {'organization': "Publishers", 'groups': "Topics", 'res_format': "Formats", "license_id": "Licenses"} %}
  <div class="filters">
    <div>
      {% for facet in facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}, search_facets=search_facets )}}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}
