{#
  Populates dataset filter selector items

  name - The field name identifying the facet field, eg. "groups"
  search_facets - A dictionary with search facets
  fields_grouped - A list of fields

  Example: h.snippet('package/snippets/filter_items.html', name=facet, search_facets=search_facets, fields_grouped=fields_grouped)
#}

{% asset 'weca_tdh/multi_select-js' %}
{% from "govuk_frontend_jinja/components/checkboxes/macro.html" import govukCheckboxes %}

{% block filter_items %}
  {% set filter_labels = {'organization': "Publisher", 'groups': "Topics", 'res_format': "Format", 'res_data_access': "Data Access", 'res_data_category': "Data Category"} %}
  {% set filter_summaries = {'res_data_access': "Methods for accessing data", 'res_data_category': "Data classification (sensitivity)"} %}
  {% set filter_items = [] %}

  {% set items = h.get_facet_items_dict(name, search_facets) %}
  {% for item in items %}    
    {% if ''.join(fields_grouped[name]) == item.name %}
      {% set selected = true %}
    {% endif %}

    {{ filter_items.append({'value': item.name, 'text': item.display_name, 'selected': selected}) or "" }}
  {% endfor %}

  {% set filter_type = name if name in ('res_format', 'res_data_access', 'res_data_category') %}
  {% if filter_type %}
    {% set selected_values = fields_grouped.get(name, []) %}
    {% set filter_items = h.sort_search_filter_items(filter_items, filter_type, selected_values) %}
  {% endif %}

  <div class="search-filter-wrapper">
    <h3 class="search-filter-heading ">
      <button type="button" class="govuk-link search-filter-button" onclick="toggleCheckboxContainer('{{name}}'); this.classList.toggle('is-open');">
        {{ filter_labels[name] }}
      </button>
      <span class="chevron-button" aria-hidden="true">
        <svg class="govuk-accordion__icon" xmlns="http://www.w3.org/2000/svg" focusable="false" width="12" height="12" viewBox="0 0 17 17">
          <path d="M1.5 5l6.5 6 6.5-6" fill="none" stroke="currentColor" stroke-width="3"/>
        </svg>
      </span>
      <div id="search-filter-summary-{{name}}" class="govuk-label search-filter-summary">
        {{ filter_summaries[name] or "No filters selected" }}
      </div>
    </h3>
    <div id="{{name}}" class="search-filter-content">
      {{ govukCheckboxes({
        'idPrefix': 'filter-' + name,
        'name': name,
        'classes': "govuk-checkboxes--small",
        'items': filter_items | sort(attribute='value')
      }) }}
    </div>
    <div id="search-filter-tag-input-{{ name }}" class="search-filter-tag-input govuk-!-margin-bottom-2"></div>
    <p style="border-bottom: 2px solid #ccc; margin-top: 10px;"></p>
  </div>
{% endblock %}
