{% ckan_extends %}

{% block package_metadata_fields_visibility %}
  <div class="form-group control-medium">
    <label for="field-private" class="form-label">{{ _('Dataset visibility') }}</label>
    <div class="controls">
      <select id="field-private" name="private" class="form-control">
        {% for option in [('True', _('Private')), ('False', _('Public'))] %}
        <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endblock %}
