{#
  Renders package license information

  pkg_dict - A package dict that the resource belongs to

  Example: {% snippet "package/snippets/package_license.html", pkg_dict=pkg %}
#}

{% block license_string %}
  {% if pkg_dict.license_title %}
    {% if 'license_url' in pkg_dict %}
      <a href="{{ pkg_dict.license_url }}" rel="dc:rights">{{ pkg_dict.license_title }}</a>
    {% else %}
      <span property="dc:rights">{{ pkg_dict.license_title }}</span>
    {% endif %}
  {% else %}
    <span property="dc:rights">{{ _('License not specified') }}</span> 
  {% endif %}
{% endblock %}
