{#
  Renders a list of resources with icons and view links.

  resources - A list of resources (dicts) to render
  pkg - A package dict that the resources belong to.
  heading - A heading for the table

  Example: {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
#}

{% block resource_list %}
  <h2 class="heading-medium">{{ heading }}</h2>
  {% if pkg.resources %}
    <table class="govuk-table govuk-!-margin-bottom-4" data-cy="data-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header col-4">{{ _('Link to the data') }}</th>
          <th scope="col" class="govuk-table__header col-2">{{ _('Format') }}</th>
          <th scope="col" class="govuk-table__header col-2">{{ _('Date added') }}</th>
          <th scope="col" class="govuk-table__header col-2">{{ _('Data access') }} 
            <a href="{{ h.url_for('pages.show', page='support') ~ '#data-access'}}">
              <i class="fa fa-info-circle info-icon" title="Indicates the method for accessing data."></i>
            </a>
          </th>
          <th scope="col" class="govuk-table__header col-2">{{ _('Data category') }}</th>
          <th scope="col" class="govuk-table__header col-2">{{ _('Explore') }}</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">              
        {% for resource in resources %}
          {% snippet 'package/snippets/resource_row_item.html', pkg=pkg, res=resource, tdh_schema=tdh_schema, can_edit=can_edit %}
        {% endfor %}
      </tbody>
    </table>  
  {% else %}
    <p>{{ _('No resources available.') }}</p>
  {% endif %}
{% endblock %}
