{% ckan_extends %}

{% block basic_fields_url %}
  {{ super() }}

  <div class="form-group control-medium">
    <label for="field-data_category" class="form-label">{{ _('Data Category') }}</label>
    <div class="controls">
      <select id="field-data_category" name="resource_data_category" data-module="autocomplete">
        {% for option in h.get_resource_data_categories() %}
          <option value="{{ option.id }}" {% if option.id == data.get('resource_data_category', "0") | int %}selected="selected"{% endif %}>{{ option.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group control-medium">
    <label for="field-data_access" class="form-label">{{ _('Data Access') }}</label>
    <div class="controls">
      <select id="field-data_access" name="resource_data_access" data-module="autocomplete">
        <option value="External Link" {% if "External Link" in data.get('resource_data_access', []) or data.get("url", False) and h.is_url(data.get("url", False)) %}selected="selected"{% endif %}>{{ _('External Link') }}</option>
        <option value="File Download" {% if "File Download" in data.get('resource_data_access', []) %}selected="selected"{% endif %}>{{ _('File Download (Databricks)') }}</option>
        <option value="Power BI Report" {% if "Power BI Report" in data.get('resource_data_access', []) %}selected="selected"{% endif %}>{{ _('Power BI Report') }}</option>
        <option value="Preview" {% if "Preview" in data.get('resource_data_access', []) or data.get('has_views', False) %}selected="selected"{% endif %}>{{ _('Preview') }}</option>
        <option value="TDH Query" {% if "TDH Query" in data.get('resource_data_access', []) %}selected="selected"{% endif %}>{{ _('TDH Query') }}</option>
      </select>
    </div>
  </div>

  <div id="tdh-query-path-wrapper" class="form-group control-medium" style="display:none;">
    <label for="field-tdh_table" class="form-label">{{ _('TDH Query Path') }}</label>
    <div class="controls resource-control-flex">
      {% set value = data.get('tdh_catalog', '') %}
      <input value="{{value}}" placeholder="e.g. bronze_production" id="field-tdh_catalog" name="tdh_catalog" class="form-control">
      <span>.</span>
      {% set value = tdh_schema or "not assigned" %}
      <input value="{{value}}" id="field-tdh_schema" name="tdh_schema" class="form-control" disabled>
      <span>.</span>
      {% set value = data.get('tdh_table', '') %}
      <input value="{{value}}" placeholder="e.g. trips_route" id="field-tdh_table" name="tdh_table" class="form-control">
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const wrapper = document.getElementById('tdh-query-path-wrapper');
      const select = document.querySelector('select[name="resource_data_access"]');

      function toggleTdhFields() {
        if (select && select.value === 'TDH Query') {
          wrapper.style.display = 'block';
        } else {
          wrapper.style.display = 'none';
        }
      }

      $(select).on('change', toggleTdhFields);
      toggleTdhFields(); // Initial state
    });
  </script>
{% endblock %}
