{#
  Renders a list of resources with icons and view links.

  resources - A list of resources (dicts) to render
  pkg - A package dict that the resources belong to.

  Example: {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
#}

{% block resource_list %}
  <h2 class="heading-medium">{{ _('Data Links') }}</h2>
  {% if pkg.resources %}
    <table class="govuk-table govuk-!-margin-bottom-4">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">{{ _('Link to the data') }}</th>
          <th scope="col" class="govuk-table__header">{{ _('Format') }}</th>
          <th scope="col" class="govuk-table__header">{{ _('File added') }}</th>
          <th scope="col" class="govuk-table__header">{{ _('Access') }}</th>
          <th scope="col" class="govuk-table__header">{{ _('Action') }}</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">              
        {% for resource in pkg.resources %}
          {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
        {% endfor %}
      </tbody>
    </table>  
  {% else %}
    <p>{{ _('No resources available.') }}</p>
  {% endif %}
{% endblock %}
