{% ckan_extends %}

{% block metadata_fields  %}
  {{ super() }}

  {% set site_id = config.get('ckan.site_id', 'tdh-development').split('-')[-1] %}

  <div class="form-group control-medium">
    <label for="field-data_category" class="form-label">{{ _('Data Category') }}</label>
    <div class="controls">
      <select id="field-data_category" name="resource_data_category" data-module="autocomplete">
        {% for option in h.get_resource_data_categories() %}
          <option value="{{ option.id }}" {% if option.id == data.get('resource_data_category', "0") | int %}selected="selected"{% endif %}>{{ option.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group control-medium">
    <label for="field-data_access" class="form-label">{{ _('Data Access') }}</label>
    <div class="controls">
      <select id="field-data_access" name="resource_data_access" data-module="autocomplete">
        <option value="External Link" {% if "External Link" in data.get('resource_data_access', []) or data.get("url", False) and h.is_url(data.get("url", False)) %}selected="selected"{% endif %}>{{ _('External Link') }}</option>
        <option value="File Download" {% if "File Download" in data.get('resource_data_access', []) %}selected="selected"{% endif %}>{{ _('File Download (Databricks)') }}</option>
        <option value="Power BI Report" {% if "Power BI Report" in data.get('resource_data_access', []) %}selected="selected"{% endif %}>{{ _('Power BI Report') }}</option>
        <option value="Preview" {% if "Preview" in data.get('resource_data_access', []) or data.get('has_views', False) %}selected="selected"{% endif %}>{{ _('Preview') }}</option>
        <option value="TDH Query" {% if "TDH Query" in data.get('resource_data_access', []) %}selected="selected"{% endif %}>{{ _('TDH Query') }}</option>
      </select>
    </div>
  </div>

  <div id="data-layer-wrapper" class="form-group control-medium" style="display:none;">
    <label for="field-data_layer" class="form-label">{{ _('Data Layer') }}</label>
    <div class="controls" style="margin-bottom: 30px;">
      {% set selected_layer = data.get('resource_data_layer', 'Wood') %}
      <select id="field-data_layer" name="resource_data_layer" data-module="autocomplete">
        {% for layer in ["Wood", "Bronze", "Silver", "Gold"] %}
          <option value="{{layer}}" {% if selected_layer == layer %}selected{% endif %}>{{ _(layer) }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div id="tdh-query-wrapper" class="form-group control-medium" style="display:none;">
    <label for="field-tdh_table" class="form-label">{{ _('TDH Query Path') }}</label>
    <div class="controls resource-control-flex">
      {% set value = data.get('tdh_catalog', '') %}
      <input value="{{value}}" placeholder="" id="field-tdh_catalog" name="tdh_catalog" class="form-control">
      <span>.</span>
      {% set value = tdh_schema or "not assigned" %}
      <input value="{{value}}" id="field-tdh_schema" name="tdh_schema" class="form-control" disabled>
      <span>.</span>
      {% set value = data.get('tdh_table', '') %}
      <input value="{{value}}" placeholder="e.g. trips_route" id="field-tdh_table" name="tdh_table" class="form-control">
    </div>
    <span class="info-block" style="margin-bottom: 30px;">
      <i class="fa fa-info-circle"></i>
        {{ _('Databricks table query path (catalog.schema.table). The catalog and schema will be filled automatically.') }}
    </span>
    
    <label for="field-resource_queries" class="form-label">{{ _('SQL Queries') }}</label>
    {% set res_queries = data.get('resource_queries')  %}
    {% set res_queries_len = h.load_json(res_queries) | length %}
    <p class="heading-small">{{ _('This resource has ') }}<span id="queries-len">{{ res_queries_len }}</span>{{ ngettext(' query', ' queries', res_queries_len) ~ _(' assigned to it.') }}</p>
    <input type="hidden" value={{res_queries}} id="field-resource_queries" name="resource_queries" class="form-control">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#queries-modal">
      <i class="fa fa-cog"></i>{{ _('Manage Queries') }}
    </button>

    <div class="modal fade" id="queries-modal" tabindex="-1" aria-labelledby="queries-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="queries-modal-label">{{ _('Manage SQL Queries') }}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" id="queries-modal-btn-close"></button>
          </div>
          <div class="modal-body">
            <h6>{{ _('Current Queries') }}</h6>
            <div id="modal-accordion" class="resource-data-access"></div>

            <hr>
            <h6>{{ _('Add New Query') }}</h6>
            <div class="mb-3">
              <input type="text" class="form-control" id="query-title" placeholder="Title">
              <div class="invalid-feedback">{{ _('Title is required.') }}</div>
            </div>
            <div class="mb-3">
              <textarea class="form-control" id="query-summary" placeholder="Summary"></textarea>
            </div>
            <div class="mb-3">
              <textarea class="form-control" id="query-statement" placeholder="SQL Query"></textarea>
              <div class="invalid-feedback">{{ _('Statement is required.') }}</div>
            </div>
            <div class="mb-3">
              <label class="form-label">{{ _('Formats') }}</label>
              <div id="query-format-options">
                {% for fmt in ["csv", "json", "parquet"] %}
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="query-formats" id="format-{{ fmt }}" value="{{ fmt }}"
                    {% if fmt == "csv" %}checked{% endif %}>
                    <label class="form-check-label no-after" for="format-{{ fmt }}">{{ fmt | upper }}</label>
                  </div>
                {% endfor %}
              </div>
              <small class="form-text text-muted">{{ _('Select one or more formats.') }}</small>
            </div>  
            <button type="button" class="btn btn-primary" id="queries-modal-btn-add">{{ _('Add Query') }}</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="queries-modal-btn-cancel">{{ _('Cancel') }}</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="queries-modal-btn-save">{{ _('Save') }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script id="resource-queries-data" type="application/json">{{ res_queries | safe }}</script>
  <script id="site-id" type="application/json">{{ site_id }}</script>
  {% asset 'weca_tdh/res_form-js' %}
{% endblock %}
