{#
  Renders a single data resource

  res - A resource dict to render
  pkg - A package dict that the resource belongs to
  can_edit - Whether the user is allowed to edit the resource

  Example: {% snippet 'package/snippets/resource_row_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
#}

{% set url_action = pkg.type ~ ('_resource.edit' if url_is_edit and can_edit else '_resource.read') %}
{% set url = url or h.url_for(url_action, id=pkg.name, resource_id=res.id) %}

{% block resource_item %}
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <a class="govuk-link" href="{{ url }}">{{ h.resource_display_name(res) | truncate(50) }}</a>
    </td>
    <td class="govuk-table__cell">
      {{ res.format or 'data' }}
    </td>
    <td class="govuk-table__cell">
      {{ h.filter_datetime(res.created, 'short') }}
    </td>
    <td class="govuk-table__cell">
      <a href="/about#dc_table">
        {% set categories = h.get_resource_data_categories() %}
        {% if res.resource_data_category %}
          {% for category in categories %}
            {% if category.id == res.resource_data_category | int %}
              <span class="badge resource-data-category {{ category.class }}">{{ category.name }} {% if category.desc %}<i class="fa fa-info-circle" 
                title="{{ category.desc }}"></i>{% endif %}</span>
            {% endif %}
          {% endfor %}
        {% else %}
          <span class="badge resource-data-category {{ categories[0].class }}">{{ categories[0].name }} <i class="fa fa-info-circle" 
            title="{{ categories[0].desc }}"></i></span>
        {% endif %}
      </a>
    </td>
    <td class="govuk-table__cell">
      {% block resource_item_explore %}
        {% if not url_is_edit %}
        <div class="dropdown btn-group">
          <a href="#" class="btn btn-primary dropdown-toggle" type="button" id="dropdownExplorer" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-share"></i>
            {{ _('Explore') }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownExplorer">
            {% block resource_item_explore_links %}
              {% block explore_view %}
                <li>
                  <a class="dropdown-item" href="{{ url }}">
                    {% if res.has_views %}
                      <i class="fa fa-chart-bar"></i>
                      {{ _('Preview') }}
                    {% else %}
                      <i class="fa fa-info-circle"></i>
                      {{ _('More information') }}
                    {% endif %}
                  </a>
                </li>
              {% endblock explore_view %}

              {% if res.url and h.is_url(res.url) %}
                <li>
                  <a class="dropdown-item resource-url-analytics" href="{{ res.url }}" target="_blank" rel="noreferrer">
                    {% if res.url_type != 'upload' %}
                      <i class="fa fa-external-link"></i>
                      {{ _('Go to resource') }}
                    {% else %}
                      <i class="fa fa-arrow-circle-down"></i>
                      {{ _('Download') }}
                    {% endif %}
                  </a>
                </li>
              {% endif %}

              {% if can_edit %}
                <li>{% link_for _('Edit resource'), named_route=pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id, class_='dropdown-item', icon='pencil' %}</li>
              {% endif %}
            {% endblock %}
          </ul>
        </div>
        {% endif %}
      {% endblock %}
    </td>
  </tr>
{% endblock %}
