{#
  Populates sort selector options

  sort_by_selected - The selected sort option 

  Example: h.snippet('package/snippets/search_sort.html', sort_by_selected=sort_by_selected)
#}

{% from "components/select/macro.html" import govukSelect %}

{% block search_sort %}                     
  {% set sort_options = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc')]
  %}

  {% set sort_items = [] %}
  {% for label, value in sort_options %}    
    {% if sort_by_selected == value %}
      {% set selected = true %}
    {% endif %}
    {{ sort_items.append({'value': value, 'text': label, 'selected': selected}) or "" }}
  {% endfor %}

  {{ govukSelect({
    'id': "sort",
    'name': "sort",
    'items': sort_items,
    'attributes': {'onchange': "this.form.submit()"},
    }) 
  }}
{% endblock %}
