{% extends "page.html" %}
{% from "components/button/macro.html" import govukButton %}

{% block subtitle %}{{ _("Topics") }}{% endblock %}
{% block toolbar %}{% endblock %}

{% block form_wrapper %}
  <form action="{{ action }}" method="get">
    {{ super() }}
  </form>
{% endblock %}

{% block heading %}
  <h1 class="page-heading-result govuk-heading-xl govuk-!-margin-bottom-6">Topics</h1>
{% endblock %}

{% block secondary_content %}
  <h2 class="govuk-body-m govuk-!-font-weight-bold">Filter by</h2>
  {% block search_input %}
    {% snippet "snippets/search_form.html", label="Keywords", placeholder="Search topics...", query=q %}  
  {% endblock %}      
  {% snippet "group/snippets/group_sidebar.html", group_type=group_type %}       
{% endblock %}

{% block primary_content %}            
  {% block search_sort %}
    <div class="sort"> 
      {{ h.snippet('snippets/search_sort.html', sorting_selected=sort_by_selected) }}
    </div>
  {% endblock %}
  {% block search_results_count %}
    <span class="results_summary" data-cy="results-summary">
      <span class="govuk-body-m govuk-!-font-weight-bold">{% snippet 'snippets/search_result_text.html', query=q, sort_by_selected=sort_by_selected, count=page.item_count, type=group_type %}</span>
    </span>
  {% endblock %}

  {% block topic_list %}
    <div class="group-listclass">
      {% if page.items or request.args %}
        {% if page.items %}
          {% snippet "group/snippets/group_list.html", groups=page.items %}
        {% endif %}
      {% else %}
        <p class="empty">
          {{ _('There are currently no topics for this site') }}.
          {% if h.check_access('group_create') %}
            {% link_for _('How about creating one?'), named_route=group_type+'.new' %}</a>
          {% endif %}
        </p>
      {% endif %}
    </div>
  {% endblock %}
  {% block page_pagination %}
    {{ page.pager(q=q or '', sort=sort_by_selected or '') }}
  {% endblock %} 
{% endblock %}
