{% ckan_extends %}

{% block subtitle %}{{ c.page.title }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Blogs'), named_route='pages.blog_index' %}</li>
  <li class="active">{% link_for c.page.title, named_route='pages.blog_show', page=c.page.name %}</li>
{% endblock %}

{% block primary_content %}
  <section class="module govuk-body">
    {% block ckanext_pages_actions %}
      {% if h.check_access('ckanext_pages_update') %}
        {% asset 'pages/main-css' %}
        {% link_for _('Edit'), named_route='pages.blog_edit', page=c.page.name, class_='btn btn-primary pull-right page-action', icon='plus-square' %}
        {% link_for _('Revisions'), named_route='pages.blog_revisions', page=c.page.name, class_='btn btn-primary pull-right page-action me-2', icon='eye' %}
      {% endif %}
    {% endblock %}

    <h1 class="page-heading">{{ c.page.title }}</h1>

    {% if c.page.publish_date %}
      <span class="muted date"> {{ h.render_datetime(c.page.publish_date) }} </span>
    {% endif %}

    {% block ckanext_pages_content %}
      {{ super() }}
    {% endblock %}
  </section>
{% endblock %}
