{% extends 'ckanext_pages/blog_edit_base.html' %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Blogs'), named_route='pages.blog_index' %}</li>
{% endblock %}

{% block primary %}
  <article class="module govuk-body" role="main">
    {% if h.check_access('ckanext_pages_update', {}) %}
      {% link_for _('Add Article'), named_route='pages.blog_new', page='', class_='btn btn-primary page-action', icon='plus-square' %}
    {% endif %}
    {% snippet 'ckanext_pages/snippets/pages_list.html', pages=c.page.items, type='blog', title='Blogs' %}
    {{ c.page.pager() }}
  </article>
{% endblock %}

{% block secondary %}{% endblock %}