{% block publisher_desc %}
<div class="module module-narrow module-shallow group-sidebar">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Publishers?') }}
  </h2>
  <div class="module-content">
    {% snippet 'organization/snippets/organization_text.html' %}
  </div>
  {% endblock %}

  {% block page_primary_action %}
    {% if h.check_access('organization_create') %}
      <h2 class="module-heading">
        <i class="fa fa-gavel"></i>
        {{ _('Admin tools') }}
      </h2>
      <div class="module-content">
        {% link_for _('Add Publisher'), named_route=group_type ~ '.new', class_='btn btn-primary', icon='plus-square' %}
      </div>                        
    {% endif %}
  {% endblock %}
</div>
