<div class="featured-blog-item">
  {% block blog_item_heading %}
    <h3 class="dataset-heading">
      <a href="{{ url }}" >{{ blog.title }}</a>
      {% if blog.publish_date %}
        <br>
        <small class="date">{{ h.render_datetime(blog.publish_date) }}</small>
      {% endif %}
    </h3>
  {% endblock %}

  {% block blog_item_summary %}
    {% if blog.content %}
    {% if editor %}
      <div>
        {{ blog.content|striptags|truncate }}
      </div>
    {% else %}
      {{ h.markdown_extract(blog.summary, extract_length=250) }}
    {% endif %}
    {% else %}
      <p class="empty">{{ _('This blog currently has no content.') }}</p>
    {% endif %}
  {% endblock %}
</div>