<div class="page-list-item dataset-item">
  <div class="span11 col-md-12">
    {% block page_item_heading %}
      <h3 class="dataset-heading">
        {% if pin %}
          <i class="fa-solid fa-thumbtack" style="float: inline-end;"></i>
        {% endif %}
        <a href="{{ url }}" >{{ page.title }}</a>
        {% if page.publish_date %}
          <small class="date"> {{ h.render_datetime(page.publish_date) }} </small>
        {% endif %}
      </h3>
    {% endblock %}

    {% block page_item_content %}
      {% if page.summary %}
        {{ h.markdown_extract(page.summary, extract_length=250) }}
      {% else %}
        <p class="empty">{{ _('This document has no summary.') }}</p>
      {% endif %}
    {% endblock %}
  </div>
</div>