{#
Display a grid of group items.

groups - A list of groups.
list_class - A CSS list class
item_class - A CSS item class

Example:

    {% snippet "group/snippets/group_list.html" %}

#}
{% block group_list %}
<ul class="media-grid-tdh {{list_class}}" data-module="media-grid-tdh">
	{% block group_list_inner %}
  {% for group in groups %}
    {% snippet "group/snippets/group_item.html", group=group, item_class=item_class, position=loop.index, last=loop.last, show_capacity=show_capacity %}
  {% endfor %}
  {% endblock %}
</ul>
{% endblock %}