{% extends "package/read_base.html" %}
{% from "components/breadcrumbs/macro.html" import govukBreadcrumbs %}
{% from "components/button/macro.html" import govukButton %}

{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% block primary_class %}package-read{% endblock %}

{% block primary_content %}
  {% block breadcrumbs %}
    {{ govukBreadcrumbs({
      'items': [{'text': "Home", 'href': "/"}, {'text': "Search", 'href': "/dataset"}, {'text': pkg.title}]
    }) }}
  {% endblock %}
  <div class="row">
    <section class="meta-data">
      {% block package_metadata %}
        <div class="column-two-thirds">
          <div class="metadata-box metadata-box--in-dataset">   
            {% block package_visibility %}
              {% if pkg.private %}
                <span class="dataset-private badge pull-right dataset-marking">
                  <i class="fa fa-lock"></i>
                  {{ _('Restricted') }}
                </span>
              {% else %}
                <span class="dataset-public badge pull-right dataset-marking">
                  <i class="fa fa-lock-open"></i>
                  {{ _('Open') }}
                </span>
              {% endif %}
            {% endblock %}

            {% block package_heading %}
              <h1 class="metadata-heading">
                {{ h.dataset_display_name(pkg) }}
                {% if pkg.state.startswith('draft') %}
                  [{{ _('Draft') }}]
                {% endif %}
                {% if pkg.state == 'deleted' %}
                  [{{ _('Deleted') }}]
                {% endif %}
              </h1>
            {% endblock %}

            {% block metadata_list %}
              <dl class="metadata">
                <dt>Published by:</dt>
                <dd property="dc:creator">{{ pkg.organization.title }}</dd>
                <dt>{{ _('Last updated:') }}</dt>
                <dd property="dc:date">{{ h.filter_datetime(pkg.metadata_modified, 'short') }}</dd>
                <dt>{{ _('Topics:') }}</dt>
                  {% snippet "package/snippets/package_topics.html", pkg_dict=pkg %}
                <dt>{{ _('Licence:') }}</dt>
                <dd property="dc:rights">
                  {% snippet "package/snippets/package_license.html", pkg_dict=pkg %}
                </dd>
              </dl>
              {% block package_summary %}
                <h3 class="heading-small">{{ _('Summary') }}</h3>
                <div class="notes embedded-content">
                  {% if pkg.notes %}
                    {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
                  {% else %}
                    {{ _('No description.') }}
                  {% endif %}
                </div>
              {% endblock %}
            {% endblock %}                 
          </div>          
        </div>
      {% endblock %}

      {% block package_sidebar %}
        <div class="column-one-third dataset-right">
          <div class="dataset-right-sidebar">
            <h3 class="heading-small">{{ _('More from this publisher') }}</h3>
            <a class="govuk-link" href="/organization/{{ pkg.organization.name }}">{{ _('All datasets from') }} {{ pkg.organization.title }}</a>
          </div>
          {% block package_manage %}
            {% if self.content_action() | trim %}
              <div class="content_action">
                {% block content_action %}
                  {% if h.check_access('package_update', {'id':pkg.id }) %}
                    {% link_for _('Manage this dataset'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-light', icon='wrench' %}
                  {% endif %}
                {% endblock %}
              </div>
            {% endif %}
          {% endblock %}
        </div>
      {% endblock %}
    </section>
  </div>
  <div class="row">
      {% block data_links %}
        <section class="data-links">
          <div class="product-column">
            {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, can_edit=can_edit %}
          </div>
        </section>
      {% endblock %}

      {% block contact %}
        <section class="contact">
          <div class="product-column">
            <h2 class="heading-medium">{{ _('Contact') }}</h2>
            <p>{{ _('Get in touch about this dataset by') }} <a class="govuk-link" href="/contact">{{ _('filling out a contact form.') }}</a></p>
          </div>
        </section>
      {% endblock %}

      {% block sign_in %}
        {% if not can_edit %}
          <section class="edit">
            <div class="product-column">
              <h2 class="heading-medium">{{ _('Edit this dataset') }}</h2>
              <p>{{ _('You must have an account to suggest edits to this dataset') }}</p>
              {{ govukButton({
                'text': "Sign in",
                'href': "/user/login"
              }) }}
            </div>
          </section>
        {% endif %}
      {% endblock %}
  </div>
{% endblock %}
