{% extends "package/read_base.html" %}
{% from "components/breadcrumbs/macro.html" import govukBreadcrumbs %}
{% from "components/button/macro.html" import govukButton %}

{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% block primary_class %}package-read{% endblock %}

{% block primary_content %}
  <div class="row">
    <section class="meta-data">
      {% block package_metadata %}
        <div class="column-two-thirds package-content">
          <div class="metadata-box metadata-box--in-dataset">   
            {% block package_visibility %}
              {% if pkg.private %}
                <span class="dataset-private badge pull-right dataset-marking">
                  <i class="fa fa-lock"></i>
                  {{ _('Private') }}
                </span>
              {% endif %}
            {% endblock %}

            {% block package_heading %}
              <h1 class="metadata-heading" data-cy="package-title">
                {{ h.dataset_display_name(pkg) }}
                {% if pkg.state.startswith('draft') %}
                  [{{ _('Draft') }}]
                {% endif %}
                {% if pkg.state == 'deleted' %}
                  [{{ _('Deleted') }}]
                {% endif %}
              </h1>
            {% endblock %}

            {% block metadata_list %}
              <dl class="metadata">
                <dt>{{ _('Published by:') }}</dt>
                <dd property="dc:creator" data-cy="package-publisher">{{ pkg.organization.title }}</dd>
                <dt>{{ _('Last updated:') }}</dt>
                <dd property="dc:date" data-cy="package-updated">{{ h.filter_datetime(pkg.metadata_modified, 'short') }}</dd>
                <dt>{{ _('Topics:') }}</dt>
                <dd data-cy="package-topics">
                  {% snippet "package/snippets/package_topics.html", pkg_dict=pkg %}
                </dd>
                <dt>{{ _('Licence:') }}</dt>
                <dd property="dc:rights" data-cy="package-license">
                  {% snippet "package/snippets/package_license.html", pkg_dict=pkg %}
                </dd>
                <dt>{{ _('TDH Data Lake:') }}</dt>
                <dd data-cy="package-datalake">{{ _('Available ') if pkg.datalake_active else _('Not available ') }}<i class="fa fa-info-circle fa-xs" 
                  title="Indicates if the data for this dataset is available within the TDH Data Lake (accessible via PowerBI query or DataBricks)"></i></dd>
              </dl>
              {% block package_summary %}
                <h3 class="heading-small">{{ _('Summary') }}</h3>
                <div class="notes embedded-content" data-cy="package-notes">
                  {% if pkg.notes %}
                    {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
                  {% else %}
                    {{ _('No description.') }}
                  {% endif %}
                </div>
              {% endblock %}
            {% endblock %}                 
          </div>          
        </div>
      {% endblock %}

      {% block package_sidebar %}
        <div class="column-one-third dataset-right">
          <div class="dataset-right-sidebar">
            <h3 class="heading-small">{{ _('More from this publisher') }}</h3>
            <a class="govuk-link" href="/organization/{{ pkg.organization.name }}" data-cy="publisher-link">{{ _('All datasets from') }} {{ pkg.organization.title }}</a>
          </div>
          {% block package_manage %}
            {% if self.content_action() | trim %}
              <div class="content_action">
                {% block content_action %}
                  {% if h.check_access('package_update', {'id':pkg.id }) %}
                    {% link_for _('Manage this dataset'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-light package-manage', icon='wrench' %}
                  {% endif %}
                {% endblock %}
              </div>
            {% endif %}
          {% endblock %}
        </div>
      {% endblock %}
    </section>
  </div>
  <div class="row">
    {% block data_links %}
      {% if c.userobj %}
        <section class="data-links">
          <div class="package-content">
            {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, can_edit=can_edit %}
          </div>
        </section>
      {% endif %}
    {% endblock %}

    {% block connect %}
      {% if pkg.datalake_active %}
        <section class="connect">
          <div class="package-content">
            <h2 class="heading-medium">{{ _('Connect') }}</h2>
            <p>{{ _('This dataset is available to query using Power BI.') }}</p>
            <p><a href="{{ h.url_for('weca_tdh.tdh_partner_connect') }}">{{ _('Learn how to connect to the Transport Data Hub.') }}</a></p>
          </div>
        </section>
      {% endif %}
    {% endblock %}

    {% block sign_in %}
      {% if not can_edit %}
        <section class="edit">
          <div class="package-content">
            <h2 class="heading-medium">{{ _('Edit this dataset') }}</h2>
            {% if not c.userobj %}
              <p>{{ _('You must have an account to suggest edits to this dataset.') }}</p>
              {{ govukButton({
                'text': "Sign in",
                'href': "/user/login"
              }) }}
            {% else %}
              <p>{{ _('You must be an admin for this publisher to make edits to this dataset.') }}</p>
            {% endif %}         
          </div>
        </section>
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
