{% extends "package/read_base.html" %}
{% from "components/button/macro.html" import govukButton %}

{% set can_edit = h.check_access('package_update', {'id': pkg_dict.id}) %}
{% block primary_class %}package-read{% endblock %}

{% block primary_content %}
  <div class="row">
    <section class="meta-data">
      {% block package_metadata %}
        <div class="column-two-thirds package-content">
          <div class="metadata-box metadata-box--in-dataset">
            {% block package_visibility %}
              {% if pkg.private %}
                <span class="dataset-private badge dataset-marking">
                  <i class="fa fa-lock"></i>
                  {{ _('Private') }}
                </span>
              {% endif %}
            {% endblock %}

            {% block package_availability %}
              {% if pkg.availability == 'upcoming' %}
                <span class="dataset-upcoming badge dataset-marking">
                  <i class="fa fa-hourglass-half"></i>
                  {{ _('Coming Soon') }}
                </span>
              {% endif %}
            {% endblock %}

            {% block package_heading %}
              <h1 class="metadata-heading" data-cy="package-title">
                {{ h.dataset_display_name(pkg) }}
                {% if pkg.state.startswith('draft') %}
                  [{{ _('Draft') }}]
                {% endif %}
                {% if pkg.state == 'deleted' %}
                  [{{ _('Deleted') }}]
                {% endif %}
              </h1>
            {% endblock %}

            {% block metadata_list %}
              <dl class="metadata">
                <dt>{{ _('Published By:') }}</dt>
                <dd property="dc:creator" data-cy="package-publisher">{{ pkg.organization.title }}</dd>
                <dt>{{ _('Last Updated:') }}</dt>
                {% set last_updated = h.filter_datetime(pkg.metadata_modified, 'short') %}
                <dd property="dc:date" data-cy="package-updated">{{ last_updated }}</dd>
                <dt>{{ _('Last Reviewed:') }}</dt>
                <dd property="dc:review" data-cy="package-reviewed">{{ h.filter_datetime(pkg.last_reviewed, 'short') or last_updated }}</dd>
                <dt>{{ _('Topics:') }}</dt>
                <dd data-cy="package-topics">
                  {% snippet "package/snippets/package_topics.html", pkg_dict=pkg %}
                </dd>
                <dt>{{ _('Licence:') }}</dt>
                <dd property="dc:rights" data-cy="package-license">
                  {% snippet "package/snippets/package_license.html", pkg_dict=pkg %}
                </dd>
                <dt>{{ _('Data Quality:') }}</dt>
                <dd property="dc:quality" data-cy="package-quality">
                  <a href="{{ h.url_for('pages.show', page='support') ~ '#data-quality'}}">
                    {% set data_quality_markings = h.get_data_quality_markings() %}
                    {% if pkg.data_quality %}
                      {% set data_quality = data_quality_markings[pkg.data_quality | int] %}
                      {% if data_quality.id == 0 %}
                        {{ data_quality.name }}
                      {% else %}           
                        {% for i in range(1, data_quality_markings | length - 1) %}
                          {% if data_quality.id > i %}
                            <i class="fa-solid fa-star" style="color: goldenrod" title="{{ data_quality.name }}"></i>
                          {% elif data_quality.id != 0 %}
                            <i class="fa-regular fa-star" style="color: goldenrod" title="{{ data_quality.name }}"></i>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% else %}
                      {{ _('Unclassified') }}
                    {% endif %}
                  </a>
                </dd>
                <dt>{{ _('Data Owner(s):') }}</dt>
                <dd property="dc:owner" data-cy="package-owner">
                  {% if data_owners %}
                    {% for owner in data_owners %}
                      {{ h.linked_user(owner.id, avatar=15, maxlength=25) }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                  {% else %}
                    {{ _('Unassigned') }}
                  {% endif %}
                </dd>
                <dt>{{ _('Data Steward(s):') }}</dt>
                <dd property="dc:stewards" data-cy="package-stewards">
                  {% if collaborators %}
                    {% for steward in collaborators %}
                      {{ h.linked_user(steward[0], avatar=15, maxlength=25) }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                  {% else %}
                    {{ _('Unassigned') }}
                  {% endif %}
                </dd>
              </dl>
              {% block package_summary %}
                <h3 class="heading-small" style="font-size:19px">{{ _('Summary') }}</h3>
                <div class="notes embedded-content" data-cy="package-notes">
                  {% if pkg.notes %}
                    {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
                  {% else %}
                    {{ _('No description.') }}
                  {% endif %}
                </div>
              {% endblock %}
            {% endblock %}                 
          </div>          
        </div>
      {% endblock %}

      {% block package_sidebar %}
        <div class="column-one-third dataset-right">
          <div class="dataset-right-sidebar">
            <h3 class="heading-small">{{ _('More from this publisher') }}</h3>
            <a class="govuk-link" href="/organization/{{ pkg.organization.name }}" data-cy="publisher-link">{{ _('All datasets from') }} {{ pkg.organization.title }}</a>
          </div>
          {% block request_access %}
            <div class="dataset-right-sidebar">
              {% set sensitive_resources = pkg.resources
                | selectattr("resource_data_category", "defined")
                | map(attribute="resource_data_category")
                | select("ne", "0")
                | list
              %}

              {% if pkg.availability == 'upcoming' %}
                <h3 class="heading-small">{{ _('Interested in this dataset?') }}</h3>
                <a id="ga-express-interest-data"
                  href="{{ url_for('weca_tdh.dataset_interest', dataset_id=pkg.name) }}"
                  class="govuk-button request-form-btn"
                  data-cy="interest-button">
                  {{ _('Express interest') }}
                </a>
          
              {% elif sensitive_resources %}
                <h3 class="heading-small">{{ _('Don\'t have access to the data?') }}</h3>
                <a id="ga-request-access-data"
                  href="https://forms.office.com/e/nDdBdfgnhU"
                  class="govuk-button request-form-btn"
                  target="_blank"
                  data-cy="access-button">
                  {{ _('Request access') }}
                </a>
              {% endif %}
            </div>
          {% endblock %}
          {% block package_manage %}
            {% if self.content_action() | trim %}
              <div class="content_action">
                {% block content_action %}
                  {% if h.check_access('package_update', {'id':pkg.id }) %}
                    <h3 class="heading-small">{{ _('Admin tools') }}</h3>
                    {% link_for _('Manage this dataset'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-light package-manage', icon='wrench' %}
                  {% endif %}
                {% endblock %}
              </div>
            {% endif %}
          {% endblock %}
        </div>
      {% endblock %}
    </section>
  </div>
  <div class="row">
    {% block data_links %}
      {% if c.userobj %}
        <section class="data-links">
          <div class="package-content">
            {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, can_edit=can_edit %}
          </div>
        </section>
      {% endif %}
    {% endblock %}

    {% block sign_in %}
      {% if not can_edit %}
        <section class="edit">
          <div class="package-content">
            <h2 class="heading-medium">{{ _('Edit this dataset') }}</h2>
            {% if not c.userobj %}
              <p>{{ _('You must have an account to suggest edits to this dataset.') }}</p>
              {{ govukButton({
                'text': "Log in",
                'href': "/user/login"
              }) }}
            {% else %}
              <p>{{ _('You must be an admin for this publisher to make edits to this dataset.') }}</p>
            {% endif %}         
          </div>
        </section>
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
