{% ckan_extends %}

{% block resource_license %}{% endblock %}

{% block pre_primary %}
  <div class="resource-wrapper">
    {{ super() }}
  </div>
{% endblock %}

{% set download_url = [] %}

{% block resource_actions_inner %}
  {% block action_manage %}
    {{ super() }}
  {% endblock %}
  <li>
    <div class="btn-group">
      {% block button_group %}
        {% if res.url and h.is_url(res.url) %}
          {% set target = "_blank" if not res.resource_type in ('listing', 'service', 'api') and not res.has_views and not res.url_type == 'upload' else "" %}
          <a class="btn btn-primary resource-url-analytics" href="{{ res.url }}" target="{{target}}">
            {% if res.resource_type in ('listing', 'service') %}
              <i class="fa fa-eye"></i> {{ _('View') }}
            {% elif res.resource_type == 'api' %}
              <i class="fa fa-key"></i> {{ _('API Endpoint') }}
            {% elif not res.has_views and not res.url_type == 'upload' %}
              <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
            {% else %}
              <i class="fa fa-arrow-circle-down"></i> {{ _('Download') }}
              {% if download_url.append(1) %}{% endif %}    
            {% endif %} 
          </a>
        {% elif "File Download" in res.resource_data_access %}
          {% if not session.get('access_token')%}
            <a class="btn btn-primary resource-url-analytics" href="{{ h.build_databricks_auth_url(res.id, request.path) }}">
              <i class="fa fa-arrow-circle-down"></i> {{ _('Connect to TDH') }}
            </a>
          {% else %}
          {% set resource_id = res.id %}
            <a class="btn btn-primary resource-url-analytics" onclick="return start_download('{{ res.id }}');">
              <i class="fa fa-arrow-circle-down"></i> {{ _('Download File') }}
              <div id="spinner" class="download-spinner"></div>
            </a>
          {% endif %}
        {% endif %}
        <script>
          function start_download(resource_id) {
            $("#spinner").css("display", "inline-block");

            $.ajax({
              url: "/databricks/download/start",
              method: "POST",
              data: JSON.stringify({ resource_id: resource_id }),
              contentType: "application/json",
              success: function (response) {
                const taskId = response.task_id;
                const downloadUrl = response.download_url;
                // Poll for task completion
                pollTaskStatus(taskId, downloadUrl);
              },
              error: function (err) {
                $("#spinner").css("display", "none");
                window.location.reload();
              }
            });
          };
          function pollTaskStatus(taskId, downloadUrl) {
            $.ajax({
              url: "/databricks/download/status",
              method: "POST",
              data: JSON.stringify({ task_id: taskId }),
              contentType: "application/json",
              success: function (response) {
                const status = response.status;
                if (status === "completed") {
                  $("#spinner").css("display", "none");
                  window.location.href = downloadUrl;
                } else if (status === "error") {
                  $("#spinner").css("display", "none");
                  window.location.reload();
                } else {
                  // Continue polling if the task is still in progress
                  setTimeout(() => pollTaskStatus(taskId, downloadUrl), 2000);
                }
              },
              error: function (err) {
                $("#spinner").css("display", "none");
                window.location.reload();
              }
            });
          }
        </script>
        {% block download_resource_button %}
          {% if res.datastore_active %}
            <button class="btn btn-primary dropdown-toggle" role="button" id="dropdownDownloadFormat" data-bs-toggle="dropdown" aria-expanded="false" aria-label="list of downloadable formats">         
                <span class="caret">{% if not download_url %}{{ _('Download') }}{% endif %}</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownDownloadFormat">
              <li>
                <a class="dropdown-item" href="{{ h.url_for('datastore.dump', resource_id=res.id, bom=True) }}"
                  target="_blank" rel="noreferrer"><span>CSV</span></a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ h.url_for('datastore.dump', resource_id=res.id, format='tsv', bom=True) }}"
                  target="_blank" rel="noreferrer"><span>TSV</span></a>
              </li>
              <li>
                  <a class="dropdown-item" href="{{ h.url_for('datastore.dump', resource_id=res.id, format='json') }}"
                  target="_blank" rel="noreferrer"><span>JSON</span></a>
              </li>
              <li>
                  <a class="dropdown-item" href="{{ h.url_for('datastore.dump', resource_id=res.id, format='xml') }}"
                  target="_blank" rel="noreferrer"><span>XML</span></a>
              </li>
            </ul>
          {% endif %}
        {% endblock %}
      {% endblock %}
    </div>
  </li>
  {% if res.datastore_active %}
    <li>{% snippet 'package/snippets/data_api_button.html', resource=res %}</li>
  {% endif %}
{% endblock %}

{% block resource_content %}
  <h1 class="page-heading" title="{{ h.resource_display_name(res) }}">{{ h.resource_display_name(res) | truncate(50) }}</h1>
  {% block url %}
    {% if res.url and h.is_url(res.url) %}
      <p class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
    {% elif res.url %}
      <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
    {% endif %}
  {% endblock %}
  {% block description %}
    <div class="prose notes" property="rdfs:label">
      {% if res.description %}
        {{ h.render_markdown(res.description) }}
      {% endif %}
    </div>
  {% endblock %}
  {% block data_access %}
    <h3>{{ _('Data Access') }}</h3>
    {% if "External Link" in res.resource_data_access or res.url and h.is_url(res.url) %}
      <div>
        <h2 class="heading-small">{{ _('External Link') }}</h2>
        <p>{{ _('This resource is available through an external link. Click the Go to resource button or visit the URL above.') }}
      </div>
    {% elif "File Download" in res.resource_data_access %}
      <div>
        <h2 class="heading-small">{{ _('File Download') }}</h2>
        <p>{{ _('This resource is available to download from the TDH.') }}
        {% if not session.get('access_token')%}
          {{ _('To download, click the Connect to TDH button to start a new download session.') }}</p>
        {% else %}
          {{ _('To download, click the Download File button.') }}</p>
        {% endif %}
      </div>
    {% elif "Power BI Report" in res.resource_data_access %}
      <div>
        <h2 class="heading-small">{{ _('Power BI Report') }}</h2>
        <p>{{ _('A Power BI Report is available for this resource. To view the report, click the Go to resource button or visit the URL above.') }}
      </div>
    {% elif "TDH Query" in res.resource_data_access %}
      <div>
        <h2 class="heading-small">{{ _('TDH Query') }}</h2>
        <p>{{ _('This resource is available to query using Power BI.') }}
        <a href="{{ h.url_for('weca_tdh.tdh_partner_connect') }}">{{ _('Learn how to connect to the Transport Data Hub.') }}</a></p>
      </div>
    {% elif "Preview" in res.resource_data_access or res.has_views %}
      <div>
        <h2 class="heading-small">{{ _('Preview') }}</h2>
        <p>{{ _('This resource is available to preview via the sample data below.') }}
      </div>
    {% else %}
      <div>
        <p>{{ _('A data access type has not yet been assigned to this resource.') }}
      </div>
    {% endif %}
    {% if res.resource_data_category | int  != 0 %}
      <p>{{ _('Don\'t have acesss to the data?') }}</p>
      <a href="https://forms.office.com/e/2qBSFay0aP" class="govuk-button request-form-btn" target="_blank">{{ _('Request access') }}</a>
    {% endif %}
    <p style="font-size: 16px;">{{ _('To learn more about data access types, see our') }} <a href="{{ h.url_for('weca_tdh.support') ~ '#data-access' }}" target="_blank">{{ _('support page') }}</a>.</p>
  {% endblock %}
{% endblock %}

{% block data_preview %}
  {% if resource_views %}
    {{ super () }}
  {% endif %}
{% endblock %}
