{% ckan_extends %}

{% block resource_license %}{% endblock %}

{% block pre_primary %}
  <div class="resource-wrapper">
    {{ super() }}
  </div>
{% endblock %}

{% block resource_actions_inner %}
  {% block action_manage %}
    {{ super() }}
  {% endblock %}
  <li>
    <div class="btn-group">
      {% block button_group %}
        {% if res.url and h.is_url(res.url) %}
          {% set target = "_blank" if not res.resource_type in ('listing', 'service', 'api') and not res.has_views and not res.url_type == 'upload' else "" %}
          <a class="btn btn-primary resource-url-analytics" href="{{ res.url }}" target="{{target}}">
            {% if res.resource_type in ('listing', 'service') %}
              <i class="fa fa-eye"></i> {{ _('View') }}
            {% elif  res.resource_type == 'api' %}
              <i class="fa fa-key"></i> {{ _('API Endpoint') }}
            {% elif not res.has_views and not res.url_type == 'upload' %}
              <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
            {% else %}
              <i class="fa fa-arrow-circle-down"></i> {{ _('Download') }}
            {% endif %}  
          </a>
        {% endif %}
        {% block download_resource_button %}
          {{ super() }}
        {% endblock %}
      {% endblock %}
    </div>
  </li>
  {% if res.datastore_active %}
    <li>{% snippet 'package/snippets/data_api_button.html', resource=res %}</li>
  {% endif %}
{% endblock %}
