{% ckan_extends %}

{% import 'package/macros/data_access.html' as data_access_macro %}

{% block resource_license %}{% endblock %}

{% block pre_primary %}
  <div class="resource-wrapper">
    {{ super() }}
  </div>
{% endblock %}

{% set download_url = [] %}

{% block resource_actions_inner %}
  {% block action_manage %}
    {{ super() }}
  {% endblock %}
  <li>
    <div class="btn-group">
      {% block button_group %}
        {% if res.url and h.is_url(res.url) %}
          <a class="btn btn-primary" href="{{ res.url }}">
            {% if res.resource_type in ('listing', 'service') %}
              <i class="fa fa-eye"></i> {{ _('View') }}
            {% elif res.resource_type == 'api' %}
              <i class="fa fa-key"></i> {{ _('API Endpoint') }}
            {% elif not res.has_views and not res.url_type == 'upload' %}
              <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
            {% else %}
              <i class="fa fa-arrow-circle-down"></i> {{ _('Download') }}
              {% if download_url.append(1) %}{% endif %}    
            {% endif %} 
          </a>
        {% endif %}
        {% block download_resource_button %}
          {% if res.datastore_active %}
            <button class="btn btn-primary dropdown-toggle" role="button" id="dropdownDownloadFormat" data-bs-toggle="dropdown" aria-expanded="false" aria-label="list of downloadable formats">         
                <span class="caret">{% if not download_url %}{{ _('Download') }}{% endif %}</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownDownloadFormat">
              <li>
                <a class="dropdown-item" href="{{ h.url_for('datastore.dump', resource_id=res.id, bom=True) }}"
                  target="_blank" rel="noreferrer"><span>CSV</span></a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ h.url_for('datastore.dump', resource_id=res.id, format='tsv', bom=True) }}"
                  target="_blank" rel="noreferrer"><span>TSV</span></a>
              </li>
              <li>
                  <a class="dropdown-item" href="{{ h.url_for('datastore.dump', resource_id=res.id, format='json') }}"
                  target="_blank" rel="noreferrer"><span>JSON</span></a>
              </li>
              <li>
                  <a class="dropdown-item" href="{{ h.url_for('datastore.dump', resource_id=res.id, format='xml') }}"
                  target="_blank" rel="noreferrer"><span>XML</span></a>
              </li>
            </ul>
          {% endif %}
        {% endblock %}
      {% endblock %}
    </div>
  </li>
  {% if res.datastore_active %}
    <li>{% snippet 'package/snippets/data_api_button.html', resource=res %}</li>
  {% endif %}
{% endblock %}

{% block resource_content %}
  <h1 class="page-heading" alt="{{ h.resource_display_name(res) }}">{{ h.resource_display_name(res) | truncate(50) }}</h1>

  {% block description %}
    <div>
      {% if res.description %}
        {{ h.render_markdown(res.description) }}
      {% endif %}
    </div>
  {% endblock %}

  {% block res_metadata %}
    {% block data_layer %}
      <p>{{ _('Data layer:') }} 
        {% set data_layer = res.resource_data_layer %}
        {% if data_layer %}
          <i class="fa {% if data_layer=='Wood' %}fa-signs-post{% else %}fa-database{% endif %} medallion-level-{{data_layer|lower}}"></i> {{ data_layer }}
        {% else %}
          <i class="fa fa-signs-post medallion-level-wood"></i> {{ _('Wood') }}
        {% endif %}
      </p>
    {% endblock %}

    <div class="resource-data-access">
      {% block data_access %}
        {% if res.resource_data_access %}
          {{ data_access_macro.render(res, tdh_schema) }}
          <p class="heading-small data-access-support-link">{{ _('To learn more about data access methods, visit the') }} 
            <a class="govuk-link" href="{{ h.url_for('pages.show', page='support') ~ '#data-access' }}">{{ _('Support page') }}</a>.
          </p>
        {% else %}
          <p>{{ _('A data access type has not been assigned to this resource.') }}</p>
        {% endif %}

        {% if res.resource_data_access == "File Download" and request.args.get("autodownload") %}
          <script>
            document.addEventListener("DOMContentLoaded", function() {
              start_download("{{ request.args.get('autodownload') }}");

              if (window.history.replaceState) {
                const url = new URL(window.location);
                url.searchParams.delete("autodownload");
                window.history.replaceState({}, document.title, url.toString());
              }
            });
          </script>
        {% endif %}

        {% if res.resource_data_access == "TDH Query" and request.args.get("autodownload") %}
          <script>
            document.addEventListener("DOMContentLoaded", function() {
              const args = "{{ request.args.get('autodownload') }}".split('_');
              const autoDownloadIndex = args[0]
              const autoDownloadFormat = args[1]
              const queryCollapseId = `collapse-${autoDownloadIndex}`;
              const queryCollapseEl = document.getElementById(queryCollapseId);

              if (queryCollapseEl) {
                const bsCollapse = new bootstrap.Collapse(queryCollapseEl, { toggle: true });
                bsCollapse.show();
              }

              start_query_download('{{ res.id }}', autoDownloadIndex, autoDownloadFormat);

              if (window.history.replaceState) {
                const url = new URL(window.location);
                url.searchParams.delete("autodownload");
                window.history.replaceState({}, document.title, url.toString());
              }
            });
          </script>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}
{% endblock %}

{% block data_preview %}
  {% if resource_views %}
    {{ super () }}
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'weca_tdh/data_access-js' %}
{% endblock %}
