{% extends "page.html" %}
{% from "components/button/macro.html" import govukButton %}

{% block subtitle %}{{ _("Search") }}{% endblock %}
{% block toolbar %}{% endblock %}

{% block heading %}
  <h1 class="page-heading-result govuk-heading-xl govuk-!-margin-bottom-6 search-title">Search results</h1>
{% endblock %}

{% block secondary_content %}  
  <h2 class="govuk-body-m govuk-!-font-weight-bold">Filter by</h2>
  {% block search_input %}
    {% snippet "snippets/search_form.html", label="Keywords", query=q %}  
  {% endblock %}
  {% set facetLabels = ["organization", "groups", "res_format"] %}
  {% for facet in facetLabels %}
    {{ h.snippet('package/snippets/filter_items.html', name=facet, search_facets=search_facets, fields_grouped=fields_grouped) }}
  {% endfor %}
  {{ govukButton({
    'text': "Apply filters",
    'attributes': {'data-cy': 'filter-button'}
  }) }}
  <p class="govuk-body sort-label">
    <a class="govuk-link" href="/dataset" data-cy="filter-remove">Remove filters</a>
  </p> 
{% endblock %}

{% block primary_content %}    
  {% block search_results %}
      {% block search_sort %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (False, False) ]
        %}
        <div class="sort"> 
          {{ h.snippet('snippets/search_sort.html', sort_options=sorting, sorting_selected=sort_by_selected) }}
        </div>
      {% endblock %}

      {% block search_results_count %}
        <span class="results_summary" data-cy="results-summary">
          <span class="govuk-body-m govuk-!-font-weight-bold">{% snippet 'snippets/search_result_text.html', query=q, sorting=sorting, count=page.item_count, type=dataset_type %}</span>
        </span>
      {% endblock %}

      {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=page.items, list_class='dataset-listclass govuk-body-s', item_class='dataset-itemclass') }}
      {% endblock %}

      {% block page_pagination %}
        {{ page.pager(q=q) }}
      {% endblock %}
  {% endblock %}
{% endblock %}
