{% extends "page.html" %}
{% import 'macros/form.html' as form %}
{% from "components/button/macro.html" import govukButton %}

{% block main_class %}bg-white{% endblock %}
{% block primary_class %}govuk-width-container{% endblock %}
{% block subtitle %}{{ _("Search") }}{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="gem-c-heading govuk-heading-xl govuk-!-margin-bottom-6 search-title">Search results</h1>
      <form action="/dataset" method="GET">  
        {% block search_filters %}  
          <div class="govuk-grid-column-one-third filters">
            <h2 class="govuk-body-m govuk-!-font-weight-bold">Filter by</h2>
            <label class="govuk-label sort-label" for="sort">Keywords</label>
            <div class="gem-c-search__item-wrapper">
              <input class="gem-c-search__item gem-c-search__input" type="text" placeholder="Search Transport Data Hub" name="q" value="{{ q }}" data-cy="search-input">           
              <button class="gem-c-search__submit" type="submit" data-cy="search-button"><i class="fa fa-search"></i></button>
            </div>
            {% set facetLabels = ["organization", "groups", "res_format"] %}
            {% for facet in facetLabels %}
              {{ h.snippet('package/snippets/filter_items.html', name=facet, search_facets=search_facets, fields_grouped=fields_grouped) }}
            {% endfor %}
            {{ govukButton({
              'text': "Apply filters",
              'attributes': {'data-cy': 'filter-button'}
            }) }}
            <p class="govuk-body sort-label">
              <a class="govuk-link" href="/dataset" data-cy="filter-remove">Remove filters</a>
            </p> 
          </div>  
        {% endblock %}
        
        {% block search_results %}
          <div class="govuk-grid-column-two-thirds dgu-results">  
            {% block search_sort %}
              {% set sorting = [
                (_('Relevance'), 'score desc, metadata_modified desc'),
                (_('Name Ascending'), 'title_string asc'),
                (_('Name Descending'), 'title_string desc'),
                (_('Last Modified'), 'metadata_modified desc'),
                (_('Popular'), 'views_recent desc') if g.tracking_enabled else (False, False) ]
              %}
              <div class="sort"> 
                {{ h.snippet('snippets/search_sort.html', sort_options=sorting, sorting_selected=sort_by_selected) }}
              </div>
            {% endblock %}

            {% block search_results_count %}
              <span class="results_summary" data-cy="results-summary">
                <span class="govuk-body-m govuk-!-font-weight-bold">{% snippet 'snippets/search_result_text.html', query=q, sorting=sorting, count=page.item_count, type=dataset_type %}</span>
              </span>
            {% endblock %}

            {% block package_search_results_list %}
              {{ h.snippet('snippets/package_list.html', packages=page.items, list_class='dataset-listclass govuk-body-s', item_class='dataset-itemclass') }}
            {% endblock %}

            {% block page_pagination %}
              {{ page.pager(q=q) }}
            {% endblock %}
          </div>
        {% endblock %}
      </form>
    </div>
  </section>
{% endblock %}
